{% load i18n %}
<div class="row" style="text-align:center;margin-top:20px;">
  <p> {% trans "Si deseas enviar un asbtract debes inciar sesión, para hacerlo haz clic" %} <a class="abstract-buttons" href="/login?section=abstract-inscription-section">{% trans  "aquí" %}</a>.<br><br>
  {% trans "Si aún no tienes una cuenta puedes crear una haciendo clic" %} <a class="abstract-buttons" href="/register?section=abstract-inscription-section">{% trans "aquí" %}</a>.</p>
</div>
