{% autoescape off %}
¡Hi {{ user.first_name }}!
<br><br>
Thanks for being part of the Latin American Congress of Pediatric Endocrinology.
<br><br>
To confirm your registration, just click on the following link and we will transport you to your administration panel.
<br><br>
<a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}">http://{{ domain }}{% url 'activate' uidb64=uid token=token %}</a>
<br><br>
If you have any questions, send us an email an email to <a href="mailto:info@slep2018.com">info@slep2018.com</a>.
<br><br>
Regards,<br>

{% endautoescape %}
