{% autoescape off %}
Bienvenido al XXVII Congreso Latinoamericano de Endocrinología Pediátrica, a realizarse del 24 al 27 de octubre del 2018, en el Centro de Convenciones del Cusco.
<br><br>
Usted está registrado con el DNI o Pasaporte {{ participant.document}}
<br><br>
Su código de inscripción es {{confirmation_code}}.
<br><br>
Para asistir al evento es imprescindible presentar este correo de confirmación en el Módulo de registro. Deberá llevar su documento de identidad.
{% endautoescape %}
