{% autoescape off %}
¡Hola {{ user.first_name }}!
<br><br>
Gracias por ser parte del Congreso Lationamericano de Endocrinología Pediátrica.
<br><br>
Para confirmar tu registro, solo debes dar clic al siguiente enlace y te transportamos a tu panel de administración.
<br><br>
<a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}">http://{{ domain }}{% url 'activate' uidb64=uid token=token %}</a>
<br><br>
Si tienes alguna pregunta mándanos un correo a <a href="mailto:info@slep2018.com">info@slep2018.com</a>.
<br><br>
Saludos,<br>

{% endautoescape %}
