{% autoescape off %}
Welcome to the XXVII Latin American Congress of Pediatric Endocrinology, to be held in October 24 to 27, 2018 at the Convention Center of Cusco.
<br><br>
You are registered with an ID or Passport {{ participant.document}}
<br><br>
Your registration code is {{confirmation_code}}.
<br><br>
To attend the event it is essential to present this confirmation email in the registration Module. You must bring your identity document.
{% endautoescape %}
