/*--------------------------------------------------------------
   Fade in left
--------------------------------------------------------------*/
@-webkit-keyframes fadeInLeftSlow {
	from {
		opacity: 0;
		-webkit-transform: translateX(-50px);
	}

	to {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@keyframes fadeInLeftSlow {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeftSlow {
  -webkit-animation: fadeInLeftSlow 1.5s forwards;
  animation: fadeInLeftSlow 1.5s forwards;
}



/*--------------------------------------------------------------
   Fade in Right
--------------------------------------------------------------*/
@-webkit-keyframes fadeInRightSlow {
	from {
		opacity: 0;
		-webkit-transform: translateX(50px);
	}

	to {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@keyframes fadeInRightSlow {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInRightSlow {
  -webkit-animation: fadeInRightSlow 1.5s forwards;
  animation: fadeInRightSlow 1.5s forwards;
}



/*--------------------------------------------------------------
   Fade in Up
--------------------------------------------------------------*/
@-webkit-keyframes fadeInUpSlow {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 20%, 0);
		transform: translate3d(0, 20%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUpSlow {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 20%, 0);
		transform: translate3d(0, 20%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInUpSlow {
  -webkit-animation-name: fadeInUpSlow;
  animation-name: fadeInUpSlow;
}



