{% load admin_static %}
    <link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/css/bootstrap.min.css' %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}" media="all">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesone.css' %}">
{% autoescape off %}
<div class="container-fluid content-service-pdf">
    
    <div class="row" style="text-align:center">
        <h2>{{abstract.title}}</h2>
    </div>
    <br>
    <br>
    <div class="row">
        <h3><strong>&#8226; Fecha de publicación:</strong></h3>
        <span>{{published_date}}</span>
    </div>
    <br>
    <div class="row">
        <h3><strong>&#8226; Resumen:</strong></h3>
        {{abstract.info}}
    </div>
    <div class="row">
        <h3><strong>&#8226; Aprobación del Autor:</strong></h3>
        {% if abstract.approval %}
            <span>Si</span>
        {% else %}
            <span>No</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>&#8226; Declaración de Helsinki:</strong></h3>
        {% if abstract.helsinki %}
            <span>Si</span>
        {% else %}
            <span>No</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>&#8226; Bienestar de los animales:</strong></h3>
        {% if abstract.animal %}
            <span>SI</span>
        {% else %}
            <span>NO</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>&#8226; Privacidad del paciente:</strong></h3>
        {% if abstract.pacient %}
            <span>SI</span>
        {% else %}
            <span>NO</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>&#8226; Difamatorio o ilegal:</strong></h3>
        {% if abstract.ilegal %}
            <span>SI</span>
        {% else %}
            <span>NO</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>&#8226; Publicación previa:</strong></h3>
        {% if abstract.previousPublication %}
            <span>SI</span>
        {% else %}
            <span>NO</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>&#8226; Presentación anterior:</strong></h3>
        {% if abstract.previousSubmission %}
            <span>SI</span>
        {% else %}
            <span>NO</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>&#8226; Derechos de autor:</strong></h3>
        {% if abstract.copyright %}
            <span>SI</span>
        {% else %}
            <span>NO</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>&#8226; Derechos de autor cancelados:</strong></h3>
        {% if abstract.copyrightCanceled %}
            <span>SI</span>
        {% else %}
            <span>NO</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>&#8226; Directrices del autor:</strong></h3>
        {% if abstract.guidelines %}
            <span>SI</span>
        {% else %}
            <span>NO</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>&#8226; Conflicto de intereses:</strong></h3>
        {% if abstract.conflict %}
            <span>SI</span>
        {% else %}
            <span>NO</span>
        {% endif %}
    </div>
    {% if abstract.conflict %}
        <div class="row">
            <h3><strong>&#8226; Detalle del conflicto de intereses:</strong></h3>
            <span>{{abstract.conflictReason}}</span>
        </div>
    {% endif %}
    <div class="row">
        <h3><strong>&#8226; Financiamiento:</strong></h3>
        {% if abstract.funding %}
            <span>SI</span>
        {% else %}
            <span>NO</span>
        {% endif %}
    </div>
    {% if abstract.funding %}
        <div class="row">
            <h3><strong>&#8226; Detalle del financiamiento:</strong></h3>
            <span>{{abstract.fundingReason}}</span>
        </div>
    {% endif %}
    <div class="row">
        <h3><strong>&#8226; Categoría:</strong></h3>
        <span>{{abstract.category.name}}</span>
    </div>
    <div class="row">
        <h3><strong>&#8226; Tipo de Abstract:</strong></h3>
        <span>{{abstract.type.name}}</span>
    </div>
    <div class="row">
        <h3><strong>&#8226; Caso clínico:</strong></h3>
        {% if abstract.clinicalCase %}
            <span>SI</span>
        {% else %}
            <span>NO</span>
        {% endif %}
    </div>
    <div class="row">
        <h3><strong>&#8226; Presentación del Abstract:</strong></h3>
        <span>{{abstract.presentation}}</span>
    </div>
</div>
{% endautoescape %}
