{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  <div id="abstracts">
        <section class="pricing-table section-padding" id="abstract-inscription-section">

          <div class="container">
              <div class="deadline row" style="margin-bottom:10px;">
                  <div class="col col-md-12">
                      <h2>Abstracts</h2>
                      <span class="limit-abstracts-first">
                        {% blocktrans %}Los abstracts seleccionados como oral y poster deberán realizar su presentación  en formato digital PowerPoint 2016, se envió el modelo a los correos electrónicos. Está presentación debe ser enviada hasta el 16 de Octubre a los siguientes correos: <a href="mailto:info@slep2018.com">info@slep2018.com</a> y <a href="mailto:yoshi_peru@hornail.com">yoshi_peru@hotmail.com</a>{% endblocktrans %}
                      </span>
                      {% if LANGUAGE_CODE == 'es' %}
                        <span class="limit-abstracts">{% trans 'Descarga <a href="/static/abstract-instructions/ABSTRACTS_APROBADOS.pdf" target="_blank">aquí</a> la lista de abstracts seleccionados.' %}</span>
                      {% else %}
                        <span class="limit-abstracts">{% trans 'Descarga <a href="/static/abstract-instructions/APPROVED_ABSTRACTS.pdf" target="_blank">aquí</a> la lista de abstracts seleccionados.' %}</span>
                      {% endif %}
                      <span class="limit-abstracts">{% trans 'Proximamente se les enviará vía email el día y hora de su presentación.' %}</span>
                      <span class="limit-abstracts">{% trans 'Si su presentación es oral y desea cambiarla a poster debe comunicarlo antes del 7 de setiembre.' %}</span>
                      <!-- <p>{% trans "Próximamente se habilitará la inscripción de Abstracts" %}</p>
                      <h3>{% trans "Desde el 01 de Abril al 20 de Mayo" %}</h3> -->
                    </div>
              </div> <!-- end of section-title -->
              {% if request.user.is_authenticated and not request.user.is_superuser %}
                <div class=" row" style="margin-bottom:40px;margin-top:30px; font-weight:bold; font-size:18px; text-align: center">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="col-md-4 col-xs-4">{% trans "FECHA" %}</div>
                      <div class="col-md-4 col-xs-4">{% trans "ESTADO" %}</div>
                      <div class="col-md-4 col-xs-4">{% trans "OPCIONES" %}</div>
                    </div>  
                </div>
                {% for abstract in abstracts %}
                  <div class="row" data-text="{{abstract.info}}" style="text-align: center; font-size: 14px;">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="col-md-4 col-xs-4">{{ abstract.published_date|date:"d/m/Y" }}</div>
                      <div class="col-md-4 col-xs-4">
                        {% if LANGUAGE_CODE == 'es' %}
                          RECIBIDO
                        {% else %}
                          RECEIVED
                        {% endif %}
                      </div>
                      <div class="col-md-4 col-xs-4">
                        <button class="btn btn-link" @click="showAbstract({{abstract.id}})">{% trans 'VER DETALLE' %}</button>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% if abstracts|length == 0 %}
                <div class="row">
                  <p class="abstracts-empty">{% trans "NO HAY ABSTRACTS REGISTRADOS" %}</p>
                </div>
                {% endif %}
              {% endif %}
              
          </div> <!-- end of container -->
        </section>
          <!-- end of pricing-table -->
  </div>

{% endblock %}


{% block extrafooter %}
<!-- <script>
  var userWithAbstract = {% autoescape off %}{{user_with_abstract}}{% endautoescape off %}
</script> -->
<script src="{% static 'js/abstracts.js' %}"></script>
{% endblock %}
