{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
  {% block extrahead %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HTML Template for conference, meeting and event">
    <meta name="keyword" content="your keyword goes to here">
    <meta name="author" content="themexriver">
  {% endblock %}

  {% block extrajs %}
  {% endblock %}

  {% block extrastyle %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/logofinal.jpg' %}">

    <!-- Icon fonts -->
    <link href="{% static 'flat-icon/flaticon.css' %}" rel="stylesheet">
	<!-- <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"> -->
	

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Revolution Slider -->
    <link  href="{% static 'rev-slider/css/settings.css' %}" rel="stylesheet" type="text/css"/>
    <link  href="{% static 'rev-slider/css/layers.css' %}" rel="stylesheet" type="text/css"/>
    <link  href="{% static 'rev-slider/css/navigation.css' %}" rel="stylesheet" type="text/css"/>


    <!-- Plugins for this template -->
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/nivo-lightbox.css' %}" rel="stylesheet">
    <link href="{% static 'css/nivo-default.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
		<!-- import CSS -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.11/lib/theme-chalk/index.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/custom-animation.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/jquery-modal.css' %}">
	<link rel="stylesheet" href="{% static 'css/noty.css' %}">
	<!-- Wysiwyg -->
	<link rel="stylesheet" href="{% static 'css/vueWysiwyg.css' %}">
    <link rel="stylesheet" href="{% static 'css/quill.snow.css' %}">
	{% endblock %}
</head>
<body id="home-2">
	<div id="base">
	  <!-- pre-loder -->
	  <div class="pre-loder">
	      <div class="circle"></div>
	  </div>
	  <!-- end of pre-loder -->

	  <!-- header -->
	  <header>
	      <div class="topbar row">
					<div class=" languages">
                        <a class="menu-contact-btn" href="/contact">{% trans "Contacto" %}</a>
						<button @click="selectLanguage('es')" class="btn btn-default" type="button">
							{% with 'images/languages/es.png' as image_flag %}
								<img src="{% static image_flag %}">
							{% endwith %}
						</button>
						<button @click="selectLanguage('en')" class="btn btn-default" type="button">
							{% with 'images/languages/en.png' as image_flag %}
								<img src="{% static image_flag %}">
							{% endwith %}
						</button>
					</div>
	          <!-- <div class="container">
	              <div class="col col-sm-2 col-md-2 col-lg-3">
								</div>
						</div> -->
	      </div> <!-- end of top-bar -->
				<div class="navigation navigation-header row">
		          <nav class="navbar">
		              <div class="container">
		                  <div class="navbar-header">
		                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		                          <span class="sr-only">Toggle navigation</span>
		                          <span class="icon-bar"></span>
		                          <span class="icon-bar"></span>
		                          <span class="icon-bar"></span>
		                      </button>
		                  </div>
		                  <div id="navbar" class="collapse navbar-collapse">
							<ul class="nav navbar-nav">

								<li class="{% if menu_index == 1 %}active{% endif %}">
									<a href="/" id="home" class="dropdown-toggle" data-toggle="dropdown"> {% trans "Inicio" %}
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li><a  href="/" class="comite-li" style="cursor: pointer;">{% trans "Bienvenida" %}</a></li>
										<li><a class="comite-li" style="cursor: pointer;" @click="clickHomeMenu('#section-comite', '/?section=section-comite')">{% trans "Comité" %}</a></li>
									</ul>
															</li>
								<li class="{% if menu_index == 2 %}active{% endif %}">
									<a href="/program">{% trans "Programa" %}</a>
								</li>
								<li class="{% if menu_index == 3 %}active{% endif %}">
									<a href="/inscription">{% trans "Inscripción" %}</a>
								</li>
                                <li class="{% if menu_index == 7 %}active{% endif %}">
                                    <a href="/summer-school-2018">{% trans "Summer School" %}</a>
                                </li>
								<li class="{% if menu_index == 4 %}active{% endif %}">
									<a href="/abstracts-list">{% trans "Abstracts" %}</a>
								</li>
								<li class="{% if menu_index == 5 %}active{% endif %}">
									<a href="/venue">{% trans "Venue" %}</a>
								</li>
                                <li class="{% if menu_index == 6 %}active{% endif %}">
                                    <a href="/hotels">{% trans "Hoteles" %}</a>
                                </li>
								{% if request.user.is_authenticated and not request.user.is_superuser %}
									<li>
										<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" aria-haspopup="true">
											{% trans "Bienvenido" %} {{request.user.first_name}}<span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<li><a style="cursor: pointer;" href="/abstracts-list">{% trans "Mis abstracts" %} </a></li>
											<li><a style="cursor: pointer;" @click="logout">{% trans "Cerrar sesión" %}</a></li>
										</ul>
									</li>
								{% endif %}
							</ul>
													<div id="languageSelector">
														<!-- <select class="language" @change="selectLanguage">
															<option value="es">{% trans "Español" %}</option>
														  <option value="en">{% trans "Inglés" %}</option>
														  <option value="pr">{% trans "Portugués" %}</option>
														</select> -->
													</div>
		                  </div>
		              </div> <!-- end of container -->
		          </nav> <!-- end of nav -->
		       </div> <!-- end of navigation -->
	  </header>
	  <!-- end of header -->

	  <!-- rev-slider -->
	  <div class="logo">
	      <img src="{% static 'images/slider/logofinalendocrino.png' %}"  >
	  </div>

	  <div class="slider">
			<div class="phrase">
		      <p>"{% trans "QUE EL CONOCIMIENTO NO PARE DE CRECER" %}"</p>
		  </div>
      <div class="rev_slider_wrapper">
          <div id="main-slider" class="rev_slider"  data-version="5.0">
              <ul class="rev-slider-ul">
                  <li data-transition="fade">
                      <img src="{% static 'images/slider/machupicchu.jpg' %}"  alt width="1920" height="720">
                      <!-- LAYER NR. 1 -->
                      <!-- <div class="tp-caption maincaption layer-item"
											   data-x="right"
												 data-hoffset="0"
												 data-y="top"
												 data-voffset="120"
												 data-whitespace="normal"
												 data-transform_idle="o:1;"
												 data-transform_in="y:-150px;opacity:0;s:700;e:Power3.easeOut;"
												 data-transform_out="y:-150px;opacity:0;s:500;e:Power2.easeInOut"
												 data-width= "780"
												 data-start="500"><span class="title-slider">XXVII {% trans "CONGRESO LATINOAMERICANO DE ENDOCRINOLOGÍA PEDIÁTRICA" %}</span><br><span class="center-slider"> {% trans "Centro de Convenciones de Cusco, Cusco , Perú" %}</span><br><span class="para"> {% trans "24, 25, 26 y 27 de octubre de 2018." %}</span></div> -->

                  </li>

                  <li data-transition="fade">
                      <img src="{% static 'images/slider/plaza-de-armas-de-lima.jpg' %}"  alt width="1920" height="720">
                      <!-- LAYER NR. 1 -->
                      <!-- <div class="tp-caption maincaption layer-item"
												 data-x="right"
												 data-hoffset="0"
												 data-y="top"
												 data-voffset="120"
												 data-whitespace="normal"
												 data-transform_idle="o:1;"
												 data-transform_in="y:-150px;opacity:0;s:700;e:Power3.easeOut;"
												 data-transform_out="y:-150px;opacity:0;s:500;e:Power2.easeInOut"
												 data-width= "780"
												 data-start="500"><span class="title-slider">XXVII {% trans "CONGRESO LATINOAMERICANO DE ENDOCRINOLOGÍA PEDIÁTRICA" %}</span><br><span class="center-slider"> {% trans "Centro de Convenciones de Cusco, Cusco , Perú" %}</span><br><span class="para"> {% trans "24, 25, 26 y 27 de octubre de 2018." %}</span></div> -->

                  </li>
                  <li data-transition="fade">
                      <img src="{% static 'images/slider/piedras.jpg' %}"  alt width="1920" height="720">
                      <!-- LAYER NR. 1 -->
                      <!-- <div class="tp-caption maincaption layer-item"
												 data-x="right"
												 data-hoffset="0"
												 data-y="top"
												 data-voffset="120"
												 data-whitespace="normal"
												 data-transform_idle="o:1;"
												 data-transform_in="y:-150px;opacity:0;s:700;e:Power3.easeOut;"
												 data-transform_out="y:-150px;opacity:0;s:500;e:Power2.easeInOut"
												 data-width= "780"
												 data-start="500"><span class="title-slider">XXVII {% trans "CONGRESO LATINOAMERICANO DE ENDOCRINOLOGÍA PEDIÁTRICA" %}</span><br><span class="center-slider"> {% trans "Centro de Convenciones de Cusco, Cusco , Perú" %}</span><br><span class="para"> {% trans "24, 25, 26 y 27 de octubre de 2018." %}</span></div> -->

                  </li>
									<li data-transition="fade">
                      <img src="{% static 'images/slider/luces.jpg' %}"  alt width="1920" height="720">
                      <!-- LAYER NR. 1 -->
                      <!-- <div class="tp-caption maincaption layer-item"
												 data-x="right"
												 data-hoffset="0"
												 data-y="top"
												 data-voffset="120"
												 data-whitespace="normal"
												 data-transform_idle="o:1;"
												 data-transform_in="y:-150px;opacity:0;s:700;e:Power3.easeOut;"
												 data-transform_out="y:-150px;opacity:0;s:500;e:Power2.easeInOut"
												 data-width= "780"
												 data-start="500"><span class="title-slider">XXVII {% trans "CONGRESO LATINOAMERICANO DE ENDOCRINOLOGÍA PEDIÁTRICA" %}</span><br><span class="center-slider"> {% trans "Centro de Convenciones de Cusco, Cusco , Perú" %}</span><br><span class="para"> {% trans "24, 25, 26 y 27 de octubre de 2018." %}</span></div> -->

                  </li>
									<li data-transition="fade">
                      <img src="{% static 'images/slider/plaza-de-armas-cusco.jpg' %}"  alt width="1920" height="720">
                      <!-- LAYER NR. 1 -->
                      <!-- <div class="tp-caption maincaption layer-item"
												 data-x="right"
												 data-hoffset="0"
												 data-y="top"
												 data-voffset="120"
												 data-whitespace="normal"
												 data-transform_idle="o:1;"
												 data-transform_in="y:-150px;opacity:0;s:700;e:Power3.easeOut;"
												 data-transform_out="y:-150px;opacity:0;s:500;e:Power2.easeInOut"
												 data-width= "780"
												 data-start="500"><span class="title-slider">XXVII {% trans "CONGRESO LATINOAMERICANO DE ENDOCRINOLOGÍA PEDIÁTRICA" %}</span><br><span class="center-slider"> {% trans "Centro de Convenciones de Cusco, Cusco , Perú" %}</span><br><span class="para"> {% trans "24, 25, 26 y 27 de octubre de 2018." %}</span></div> -->

                  </li>

              </ul>
          </div>
      </div><!-- end of slider wrapper -->
			<div class="navigation row">
	          <nav class="navbar">
	              <div class="container">
	                  <div class="navbar-header">
	                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                          <span class="sr-only">Toggle navigation</span>

	                          <span class="icon-bar"></span>
	                          <span class="icon-bar"></span>
	                          <span class="icon-bar"></span>
	                      </button>
	                  </div>
	                  <div id="navbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav">

							<li class="{% if menu_index == 1 %}active{% endif %}">
								<a href="/" id="home" class="dropdown-toggle" data-toggle="dropdown"> {% trans "Inicio" %}<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a  href="/" class="comite-li" style="cursor: pointer;">{% trans "Bienvenida" %}</a></li>
									<li><a class="comite-li" style="cursor: pointer;" @click="clickHomeMenu('#section-comite', '/?section=section-comite')">{% trans "Comité" %}</a></li>
								</ul>
							</li>
							<li class="{% if menu_index == 2 %}active{% endif %}">
								<a href="/program">{% trans "Programa" %}</a>
							</li>
							<li class="{% if menu_index == 3 %}active{% endif %}">
								<a href="/inscription">{% trans "Inscripción" %}</a>
							</li>
                            <li class="{% if menu_index == 7 %}active{% endif %}">
                                <a href="/summer-school-2018">{% trans "Summer School" %}</a>
                            </li>
							<li class="{% if menu_index == 4 %}active{% endif %}">
								<a href="/abstracts-list">{% trans "Abstracts" %}</a>
							</li>
							<li class="{% if menu_index == 5 %}active{% endif %}">
									<a href="/venue">{% trans "Venue" %}</a>
							</li>
							<li class="{% if menu_index == 6 %}active{% endif %}">
								<a href="/hotels">{% trans "Hoteles" %}</a>
							</li>
														{% if request.user.is_authenticated and not request.user.is_superuser %}
															<li>
																	<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" aria-haspopup="true">
																	 {% trans "Bienvenido" %} {{request.user.first_name}}<span class="caret"></span>
																 </a>
															    <ul class="dropdown-menu">
															      <li><a style="cursor: pointer;" href="/abstracts-list">{% trans "Mis abstracts" %}</a></li>
															      <li><a style="cursor: pointer;" @click="logout">{% trans "Cerrar sesión" %}</a></li>
															    </ul>
														  </li>
														{% endif %}
	                      </ul>

												<div class=" languages">
													<button @click="selectLanguage('es')" class="btn btn-default" type="button">
														{% with 'images/languages/es.png' as image_flag %}
															<img src="{% static image_flag %}">
														{% endwith %}
													</button>
													<button @click="selectLanguage('en')" class="btn btn-default" type="button">
														{% with 'images/languages/en.png' as image_flag %}
															<img src="{% static image_flag %}">
														{% endwith %}
													</button>
												</div>
											</div>



	              </div> <!-- end of container -->
	          </nav> <!-- end of nav -->
	       </div> <!-- end of navigation -->
	  </div>
	  <!-- end of rev-slider -->
	</div>
	  {% block content %}
	  {% endblock %}
		<div class="row" style="background:green;height:10px"></div>
        <br><br>
        <div class="container">
            <div class="copyright row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 social logo-sponsors">
                    <a>
                        <img height="80" src="{% static 'images/logos/cientifica-logo.png' %}" alt>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 social logo-sponsors">
                    <a>
                        <img height="80" src="{% static 'images/logos/cayetano-logo.png' %}" alt>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 social logo-sponsors">
					<p style="color: #eeb247;font-weight: bold; margin-top:28px; font-size:16px">COLEGIO MÉDICO DEL PERÚ</p>
                </div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 social logo-sponsors" style="padding-top: 8px">
					<a>
						<img height="70" src="{% static 'images/logos/marca-peru.jpg' %}" alt>
					</a>
				</div>
            </div>
        </div>
        <br>
	  <!-- footer -->
	  <footer>
		<div class="container">
			<div class="copyright row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 social">
					<a class="logo-slep">
							<img src="{% static 'images/footer/logo-SLEP.jpg' %}" alt>
					</a>
				</div>
	            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 reserved">
				 	<p><strong>Copyright 2016 &copy;| All Rights Reserved</strong></p>
					<ul>
						<li>
							<a href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
					</ul>
	            </div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 div-logo-apepyg">
						<a href="index.html" class="logo-apepyg">
								<img src="{% static 'images/footer/logo-APEPYG.png' %}" alt>
						</a>
				</div>

			</div> <!-- end of copyright -->
		</div> <!-- end of container -->
	  </footer>
	  <!-- end of footer -->
  <!-- POLIFILL -->
  <script src="{% static 'js/polifill.js' %}"></script>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- Revolution Slider -->
  <script src="{% static 'rev-slider/js/jquery.themepunch.tools.min.js' %}"></script>
  <script src="{% static 'rev-slider/js/jquery.themepunch.revolution.min.js' %}"></script>

  <!-- Plugins for this template -->
  <script src="{% static 'js/jquery.lwtCountdown-1.0.js' %}"></script>
  <script src="{% static 'js/classie.js' %}"></script>
  <script src="{% static 'js/jquery.appear.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/nivo-lightbox.min.js' %}"></script>
  <script src="{% static 'js/progressbar.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>


  <!-- Custom script for this template -->
  <script src="{% static 'js/index-2-script.js' %}"></script>
  <script src="{% static 'js/common-script.js' %}"></script>
	<!-- <script src="{% static 'js/card.js' %}"></script> -->
	<script src="{% static 'js/jquery-modal.js' %}"></script>
	<script src="{% static 'js/noty.min.js' %}"></script>
	<script src="{% static 'js/holdOn.min.js' %}"></script>
	<script src="https://checkout.culqi.com/v2"></script>
    <script type="text/javascript">
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
        document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"><\/script>');
    </script>
	<script src="{% static 'js/vue.min.js' %}"></script>
	<script src="{% static 'js/axios.min.js' %}"></script>
	<script src="{% static 'rev-slider/js/extensions/revolution.extension.actions.min.js' %}"></script>
	<script src="{% static 'rev-slider/js/extensions/revolution.extension.carousel.min.js' %}"></script>
	<script src="{% static 'rev-slider/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
	<script src="{% static 'rev-slider/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
	<script src="{% static 'rev-slider/js/extensions/revolution.extension.migration.min.js' %}"></script>
	<script src="{% static 'rev-slider/js/extensions/revolution.extension.navigation.min.js' %}"></script>
	<script src="{% static 'rev-slider/js/extensions/revolution.extension.parallax.min.js' %}"></script>
	<script src="{% static 'rev-slider/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
	<script src="{% static 'rev-slider/js/extensions/revolution.extension.video.min.js' %}"></script>
	<!-- <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script> -->
	<script src="{% static 'js/jquery.scrollTo.js' %}"></script>
  	<!-- <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script> -->
  	<script src="{% static 'js/fontawesone.js' %}"></script>
	<script src="{% static 'js/vee-validate.js' %}"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script> -->
	<script src="{% static 'js/vee-validate.es.js' %}"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/locale/es.js"></script> -->
	<script src="{% static 'js/vue-credit-card.min.js' %}"></script>
	<script src="{% static 'js/vue-spinner.min.js' %}"></script>
	<!-- <script src="https://unpkg.com/element-ui@2.0.11/lib/index.js"></script> -->
	<script src="{% static 'js/element-2.1.11.js' %}"></script>
	<!-- <script src="//unpkg.com/element-ui/lib/umd/locale/es.js"></script> -->
	<script src="{% static 'js/element-es.js' %}"></script>
	<!-- <script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script> -->
	<script src="{% static 'js/element-en.js' %}"></script>
	<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
	<script src="{% static 'js/lodash.min.js' %}"></script>
	<script src="{% static 'js/vueWysiwyg.js' %}"></script>
	<script src="{% static 'js/vue-quill-editor.min.js' %}"></script>
    <script src="{% static 'js/vue-carousel.min.js' %}"></script>
    <script src="{% static 'js/vue-google-maps.min.js' %}"></script>
	<script src="{% static 'js/vue-ckeditor2.js' %}"></script>
    <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/ckeditor/lang/es.js' %}"></script>
    <script src="{% static 'js/ckeditor/lang/en.js' %}"></script>
  <!-- Revolution slider extentions lode only local file system -->
	<script>

		var languageUrl = "{% url 'language' %}"
		var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}"
		var CULQI_PUBLIC_KEY = "{% if DEBUG %}pk_test_dBi3zzqg9ogs7jsv{% else %}pk_live_toGCCrvzJBPVIlIK{% endif %}"
	</script>
	<script>
	  	var languageUrl = "{% url 'language' %}"
		var registerUrl = "{% url 'register' %}"
		var logoutUrl = "{% url 'logout' %}"
		var loginUrl = "{% url 'login' %}"
		var countriesUrl = "{% url 'countries' %}"
		var categoriesAbstractUrl = "{% url 'categories_abstract' %}"
		var saveAbstractUrl = "{% url 'abstract' %}"
		var AbstractListUrl = "{% url 'abstract_list' %}"
		var typesAbstractUrl = "{% url 'types_abstract' %}"
		// var stateAuthorAbstractUrl = "{% url 'states_author_abstract' %}"
		var registerUserUrl = "{% url 'registeruser' %}"
		var partnerResponseUrl = "{% url 'partner' %}"
		var paymentResponseUrl = "{% url 'payment' %}"
		var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}"

		$(document).ready(function(){
			$.get = function(key)   {
	        key = key.replace(/[\[]/, '\\[');
	        key = key.replace(/[\]]/, '\\]');
	        var pattern = "[\\?&]" + key + "=([^&#]*)";
	        var regex = new RegExp(pattern);
	        var url = unescape(window.location.href);
	        var results = regex.exec(url);
	        if (results === null) {
	            return null;
	        } else {
	            return results[1];
	        }
	    }
			var section = $.get('section')
			if (section !== null) {
				if (baseVue){
					baseVue.scrollToSection('#' + section)
				}
			}
		});


	</script>
	<script src="{% static 'js/base.js' %}"></script>

	<script>
	  $(document).ready(function(){
			$.get = function(key)   {
	        key = key.replace(/[\[]/, '\\[');
	        key = key.replace(/[\]]/, '\\]');
	        var pattern = "[\\?&]" + key + "=([^&#]*)";
	        var regex = new RegExp(pattern);
	        var url = unescape(window.location.href);
	        var results = regex.exec(url);
	        if (results === null) {
	            return null;
	        } else {
	            return results[1];
	        }
	    }
			var section = $.get('section')
			if (section !== null) {
				baseVue.scrollToSection('#' + section)
			}
		});

        Vue.use(VueGoogleMaps, {
          load: {
            key: 'AIzaSyDPRFmA7ujyfBiQPEYMFaMwk_tsWR3aHkY',
            libraries: 'places'
          },
        })
        Vue.component('google-map', window.VueGoogleMaps.Map)
        Vue.component('googlemaps-marker', window.VueGoogleMaps.Marker)

        Vue.use(window.VueCkeditor)
</script>
	{% block extrafooter %}
	{% endblock %}
</body>
</html>
