{% extends "base.html" %}
{% load static %}
{% load i18n %}

  {% block content %}
    <section class="contact" id="section-president">
        <div class="container-fluied">
              <div class="deadline row">
                  <div class="col col-md-10 col-md-offset-1">
                      <h2>{% trans "Contacto" %}</h2>
                      <!-- <p>{% trans "Próximamente se habilitará la inscripción de Abstracts" %}</p>
                      <h3>{% trans "Desde el 01 de Abril al 20 de Mayo" %}</h3> -->
                    </div>
              </div> <!-- end of section-title -->
            <div class="row">
                <div class="left-col col col-md-12 col-sm-12">
                    <div class="section-title">
                        <div class="contact-text text-center">{% blocktrans %}Para más información sobre el congreso y el envío de abstracts por favor escríbanos a <a href="mailto:info@slep2018.com">info@slep2018.com.{% endblocktrans %}</div>
                    </div> <!-- end of section-title -->

                </div>

            </div> <!-- end of row -->
        </div> <!-- end of container-fluied -->
        <br />
        <br />
    </section>


  {% endblock %}
