
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
            <!-- pricing-table -->
    <div id="hotel">
        <section class="section-padding" id="hotels-detail-section">
    
            <div class="container">
                <div class="deadline row">
                    <div class="col col-md-10 col-md-offset-1">
                        <h2>${hotelInfo.name}</h2>
                        <!-- <p>{% trans "Próximamente se habilitará la inscripción de Abstracts" %}</p>
                        <h3>{% trans "Desde el 01 de Abril al 20 de Mayo" %}</h3> -->
                    </div>
                </div> <!-- end of section-title -->
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <figure>
                                <img :src="showImage" width="540" height="360">
                            </figure>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <carousel :per-page="4"  mouse-drag="false" :navigationEnabled="true">
                                <slide v-for=" image in hotelImages">
                                    <img :src="image.photo" style="width:100%; cursor:pointer;" @click="setShowImage(image.photo)" width="135" height="100"></img>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 hotel-information">
                        <div class="row">
                            <p style="text-align:justify;">${hotelInfo.description}</p>
                            
                        </div>
                        <div v-if="hotelInfo.link == null">
                            <div class="row" v-if="hotelRooms.length > 0">
                                <h5 style="margin-top: 20px; font-weight:bold;">{% trans "Tipos de Habitaciones" %}:</h5>
                                <ul>
                                    <li v-for="room, index in hotelRooms">
                                        <label>
                                            <input type="radio" v-model="roomSelected" name="room-selected" :value="index">&nbsp;
                                            <span class="room-name">${room.name}: </span><span class="room-price">${room.price}</span>
                                        </label>
                                    </li>
                                </ul>
                                <h5 style="margin-top: 20px; font-weight:bold;">{% trans "Selector de fechas" %}:</h5>
                                <el-date-picker
                                v-model="reservationRange"
                                type="daterange"
                                range-separator="-"
                                size="small"
                                :editable="false"
                                default-value="2018-10-20"
                                :picker-options="getDatesValid()">
                                </el-date-picker>

                            </div>
                            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12" style="margin-top:40px;">
                                <button class="theme-btn" type="button" @click="showModal" :disabled="roomSelected == null || reservationRange == null" v-if="hotelRooms.length > 0 && !loadingPrice">{% trans "Reservar" %}&nbsp;<i class="fas fa-angle-right"></i></button>
                                <pulse-loader :loading="loadingPrice" :color="'green'"></pulse-loader>
                            </div>
                        </div>
                        <div v-else style="margin-top:20px;">
                            <p style="font-weight:bold;font-size: 14px;">{% trans "Para realizar una reserva haz clic en el siguiente botón" %}:</p>
                            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12" style="margin-top:20px;">
                                <a :href="hotelInfo.link" target="_"><button class="theme-btn" type="button">{% trans "Reservar" %}&nbsp;<i class="fas fa-angle-right"></i></button></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div> <!-- end of container -->
        </section>
            <!-- end of pricing-table -->
        <el-dialog
        title="{% trans 'RESERVA' %}"
        :visible.sync="showReservedDialog"
        :before-close="onBeforeClosePaymentDialog"
        custom-class="payment-dialog"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :show-close="true">
            <div class="payment-amount">{% trans "Monto a pagar" %} <span>${showPrice}</span></div>
            <div class="row reserved-form" style="margin-top:20px;">
                <div class="col-xs-12">
                    <h4 style="font-weight: bold;">{% trans "Información Personal" %}:</h4>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <input :class="{'error':errorsVee.has('nameForm')}" data-vv-as="{% trans "Nombres" %}" v-validate="'required'" data-vv-name="nameForm" v-model="inscriptionForm.name" placeholder="{% trans "Nombres" %}">
                        <span v-show="errorsVee.has('nameForm')" class="error-info">
                        ${errorsVee.first('nameForm')}
                        </span>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <input :class="{'error':errorsVee.has('lastNameForm')}" data-vv-as="{% trans "Apellidos" %}" v-validate="'required'" data-vv-name="lastNameForm" v-model="inscriptionForm.lastName" placeholder="{% trans "Apellidos" %}">
                        <span v-show="errorsVee.has('lastNameForm')" class="error-info">
                        ${errorsVee.first('lastNameForm')}
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <label class="radio-inline">
                            <input v-model="inscriptionForm.documentType" type="radio" :value="1">DNI
                        </label>
                        <label class="radio-inline">
                            <input v-model="inscriptionForm.documentType" type="radio" :value="2"> <span>{% trans "Pasaporte" %}</span>
                        </label>
                        <label class="radio-inline">
                            <input v-model="inscriptionForm.documentType" type="radio" :value="3"> <span>C.E</span>
                        </label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <input :class="{'error':errorsVee.has('documentForm')}" data-vv-as="{% trans "Nº de documento" %}" v-validate="'required'" data-vv-name="documentForm" v-model="inscriptionForm.document" placeholder="{% trans "Nº de documento" %}" type="number">
                        <span v-show="errorsVee.has('documentForm')" class="error-info">
                        ${errorsVee.first('documentForm')}
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <input :class="{'error':errorsVee.has('phoneForm')}" data-vv-as="{% trans "Teléfono" %}" v-validate="'required|numeric'" data-vv-name="phoneForm" v-model="inscriptionForm.phone" placeholder="{% trans "Teléfono" %}" type="number">
                        <span v-show="errorsVee.has('phoneForm')" class="error-info">
                        ${errorsVee.first('phoneForm')}
                        </span>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <input :class="{'error':errorsVee.has('emailForm')}" data-vv-as="{% trans "Correo" %}" v-validate="'required|email'" data-vv-name="emailForm" v-model="inscriptionForm.email" placeholder="{% trans "Correo" %}">
                        <span v-show="errorsVee.has('emailForm')" class="error-info">
                        ${errorsVee.first('emailForm')}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row"  style="margin-top:20px;">
                <div class="col-xs-12">
                    <h4 style="font-weight: bold;">{% trans "Información de Pago" %}:</h4>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="card-wrapper">
                        <card v-model="cardDetail"></card>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 card-items">
                    <form class="card-form" action="" method="POST" id="culqi-card-form"  :ref="'culqi-form'">
                        <input type="hidden" size="50" data-culqi="card[email]" id="card[email]" :value="inscriptionForm.email">
                        <input type="hidden" size="20" data-culqi="card[number]" id="card[number]" :value="cardDetail.number">
                        <input type="hidden" size="4" data-culqi="card[cvv]" id="card[cvv]" :value="cardDetail.cvc">
                        <input type="hidden" size="2" data-culqi="card[exp_month]" id="card[exp_month]" :value="cardMonth">
                        <input type="hidden" size="4" data-culqi="card[exp_year]" id="card[exp_year]" :value="cardYear">
                        <div class="row">
                            <input :class="{'error':errorsVee.has('card-number')}" data-vv-as="{% trans "Número de tarjeta" %}" v-validate="'required|min:14|max:19'" data-vv-name="card-number" v-model="cardDetail.number" class="card-info" id="card-number" maxlength="19" placeholder="{% trans "Número de tarjeta" %}" name="number">
                            <span v-show="errorsVee.has('card-number')" class="error-info">
                                ${errorsVee.first('card-number')}
                            </span>
                        </div>
                        <div class="row">
                        <div class="col col-lg-12 col-md-12 col-xs-12" style="padding:0;">
                            <input :class="{'error':errorsVee.has('card-expiry')}" data-vv-as="{% trans "Fecha" %}" v-validate="'required'" data-vv-name="card-expiry" v-model="cardDetail.expiry" class="card-info" placeholder="MM/YY" maxlength="5" type="text" name="expiry" style="width: 120px;float: left;margin-right: 10px;">

                            <input :class="{'error':errorsVee.has('card-cvc')}" data-vv-as="CVV" v-validate="'required|min:3|max:4'" data-vv-name="card-cvc" v-model="cardDetail.cvc" class="card-info" placeholder="CVV" type="number" name="cvc" maxlength="4" style="width: 80px;">
                        </div>
                        </div>
                        <div class="card_acecepted_info"><strong>{% trans "Tarjetas aceptadas" %}</strong></div>
                        <div class="accepted_cards"></div>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 payment-extra-info" style="font-size: 15px">
                    <div style="padding-bottom: 14px;"><input v-model="terms" type="checkbox" name="selecttermjp" id="selecttermjp" style="display: inline-block;padding: 5px !important;margin: 5px 0 5px 0 !important;width: 20px;height: 16px;">{% trans "He leído y aceptado los términos y condiciones." %}
                    </div>
                    <span id="card_error">
                    </span>
                    <button v-show="!loading" class="culqi_button" @click="validateCulqi('culqi')">{% trans "Aceptar" %}</button>
                    <pulse-loader :loading="loading" :color="'green'"></pulse-loader>
                </div>
            </div>
        </el-dialog>
        <el-dialog
        title="{% trans "CONFIRMACIÓN DE RESERVA" %}"
        :visible.sync="showReservationResponseDialog"
        :before-close="onBeforeCloseReservationResponseDialog"
        custom-class="participant-response-dialog"
        :close-on-click-modal="true"
        :close-on-press-escape="true">
            <div>
                <div class="row">
                    <div class='row' style="margin-bottom:20px;text-align:justify">
                        <p>{% trans "Estimado cliente:<br>Su reserva ha sido recibida y la transacción se ha realizado con éxito. En breve le estará llegando un correo de confirmación." %}</p>
                    </div>
                    <div class='row'>
                        <p><strong class="label-confirm">{% trans "Hotel:" %} </strong>${reservationResponse.hotelName}</p>
                    </div>
                    <div class='row'>
                        <p><strong class="label-confirm">{% trans "Tipo de habitación:" %} </strong>${reservationResponse.roomName}</p>
                    </div>
                    <div class='row'>
                        <p><strong class="label-confirm">{% trans "Fechas de Reserva:" %} </strong>${reservationResponse.range}</p>
                    </div>
                    <div class='row'>
                        <p><strong class="label-confirm">{% trans "Días de Reserva:" %} </strong>${reservationResponse.days}</p>
                    </div>
                    <div class='row'>
                        <p><strong class="label-confirm">{% trans "Precio Total:" %} </strong>${reservationResponse.amount}</p>
                    </div>
                    <div class='row'>
                        <p><strong class="label-confirm">{% trans "Código de transacción:" %} </strong>${reservationResponse.codeTransaction}</p>
                    </div>
                    <div class='row'>
                        <p><strong class="label-confirm">{% trans "Fecha de transacción:" %} </strong>${reservationResponse.dateTransaction}</p>
                    </div>
                    <div class="row" style="margin-top: 20px; text-align: justify;">
                        <p>*  {% trans "Si no recibe el mail de confirmación le agradeceremos revisar su bandeja de spam o no deseados " %}</p>
                    </div>
                </div>
            </div>
        </el-dialog>
    </div>
      
{% endblock %}
      
      
{% block extrafooter %}
<script>
    var hotelInfo = {% autoescape off %}{{hotel_info}}{% endautoescape off %}
    var hotelImages = {% autoescape off %}{{hotel_images}}{% endautoescape off %}
    var hotelRooms = {% autoescape off %}{{hotel_rooms}}{% endautoescape off %}
    var reservedHotelUrl = "{% url 'hotel_reserved' %}"
    var priceReservationUrl = "{% url 'price_reserved' %}"
</script>
<script src="{% static 'js/hotel.js' %}"></script>
{% endblock %}
      