{% extends "base.html" %}
{% load static %}
{% load i18n %}

  {% block content %}
    <section class="who-we-are" id="section-president">
        <div class="container-fluied">
            <div class="row">
                <div class="left-col col-md-7 col-sm-12">
                    <div class="row">
                        <div class="section-title">
                            <p>{% blocktrans %}Tenemos el agrado de invitarlos al Perú, país anfitrión del XXVII Congreso Latinoamericano de Endocrinología Pediátrica que se realizará en la mágica Ciudad Imperial de Cusco, del 24 al 27 de Octubre de 2018. Este evento espera congregar alrededor de 700 a 800 participantes.<br><br>Al ser la actualización del conocimiento médico en el campo de la especialidad nuestro principal objetivo, nos encontramos abocados en la preparación de un innovador Programa Académico cuyo lema es "QUE EL CONOCIMIENTO NO PARE DE CRECER". Es por ello que estamos invitando alrededor de 15 expertos en temas de actualidad, en los cuales se han enfocado los grupos de interés de las diversas sociedades internacionales, en los últimos 5 años. Asimismo, esperamos recibir una interesante variedad de trabajos de investigación que permitirán ampliar nuestro conocimiento y experiencia profesional.<br><br>Hemos escogido la ciudad de Cusco – Qosqo que en el idioma quechua de nuestra sierra significa el “ombligo del mundo” – ya que en el pasado fue una de las ciudades más habitadas e importantes del continente. Era la capital del Imperio Incaico o Tahuantinsuyo desde donde partía una vasta red de caminos que se dirigía a los cuatro “suyos” o regiones, que en su conjunto se extendían a lo largo de más de dos millones de kilómetros cuadrados que llegaron a abarcar - en su período de apogeo - parte de las actuales repúblicas de Colombia, Ecuador, Perú, Bolivia, Chile y Argentina. Por lo que se consideraba el punto de encuentro donde se asentaba la mayor fuente de la cultura, tecnología y ciencia de la época.<br><br>Hoy se convierte en un nuevo lugar de integración para el desarrollo del conocimiento en el campo de la endocrinología pediátrica, donde late un corazón latinoamericano que uniendo fronteras entrelaza las fuentes del saber para lograr un crecimiento basado en el aprendizaje mutuo.<br><br>¡Que el conocimiento no pare de Crecer!<br><br>Los esperamos en Cusco,{% endblocktrans %}<br>Ruth Bindels</p>
                        </div> <!-- end of section-title -->

                    </div>
                    <div class="row">
                        <!-- <div class="section-president">
                            <img src="{% static 'images/about-us/presidente.jpg' %}" class="img img-responsive" alt>
                        </div> -->
                        <div class="section-firma">
                            <img src="{% static 'images/about-us/firma-dra-bindels.jpg' %}" class="img img-responsive" alt>
                        </div>
                    </div>

                </div> <!-- end of row -->
                <div class="col-md-5 col-sm-12">
                    <div class="div-bindels">
                        <img src="{% static 'images/bindels.jpeg' %}" class="img img-responsive image-bindels" alt>
                    </div>
                </div>
            </div>
        </div> <!-- end of container-fluied -->
    </section>

 <section class="comite" id="section-comite">
        <div class="container-fluied">
          <div class="row">
            <h2> {% trans "Comités" %}</h2>
              <div class="left-col col col-md-11 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="persons-container">
                    <div class="col persons organizer-comite ">
                        <h3>{% trans "Comité Organizador SLEP - APEPYG" %}</h3>
                        <ul class="pull-left">
                            <li><a><strong>{% trans "PRESIDENTE" %}</strong></a><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Ruth Bindels</a></li>
                            <li><a><strong>{% trans "SECRETARIO" %}</strong></a><a>Dr. Miguel Chávez</a></li>
                            <li class="li-tesoreria"><a><strong >{% trans "TESORERÍA" %}</strong></a><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Pilar Medina</a></li>
                            <li><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Sheyla Alegre</a><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Bianca Miranda</a></li>
                            <li><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Karina Altamirano</a><a>Dr. Carlos Paredes</a></li>
                            <li><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Cecilia Bonilla</a><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Lilia Rojas</a></li>
                            <li><a>Dr. Oscar Espinoza</a><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Luciana Scerpella</a></li>
                            <li><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Gaudi Lozano</a><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Karen Sotil</a></li>
                            <li><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Pilar Medina</a><a>Dr. Pedro Muñoz</a></li>
                            <li><a>Dr. Jacobo Roitman</a><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Magali Mendiola</a></li>

                        </ul>
                    </div>
                    <div class="col persons scientist-comite">
                        <h3>{% trans "Comité Científico" %}</h3>
                        <ul class="pull-left">
                            <li><a style="font-weight: bold;">{% trans "LOCAL" %}</a><a style="font-weight: bold;">{% trans "INTERNACIONAL" %}</a></li>
                            <li><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Julissa Angulo</a><a>Dr. Gil Guerra-Junior (Brasil)</a></li>
                            <li><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Nataly Aramburu</a><a>Dr. Alejandro Martínez (Chile)</a></li>
                            <li><a>Dr. Miguel Chávez</a><a>Dr. Horacio Domené (Argentina)</a></li>
                            <li><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Gioconda Manassero</a><a>&nbsp;</a></li>
                            <li><a>{% if LANGUAGE_CODE == 'en' %}Dr{% else %}Dra{% endif %}. Patricia Rondón</a><a>&nbsp;</a></li>
                            <li><a>Dr. Emilio Cabello</a></li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </section>
  {% endblock %}
