{% extends "base.html" %}
{% load static %}
{% load i18n %}

  {% block content %}
      <!-- pricing-table -->
    <div id="inscription">
      <section class="pricing-table section-padding" id="inscription-section">
          <div class="container">
              <div class="section-title row">
                  <div class="col col-md-10 col-md-offset-1">
                      <h2>{% trans "Inscripciones" %}</h2>
                      <br><br>
                  </div>
              </div> <!-- end of section-title -->

              <div class="content row">
                <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="col col-sm-12 col-md-12 partner-price">
                      <p class="inscription-type">{% trans "MIEMBROS" %}</p>
                      <div class="container-price-types">
                        <div class="col col-sm-4 col-md-4 wow zoomIn price-type price-small" data-wow-delay="0.5s">
                            <div class="thumbnail">
                                <div class="title">
                                    <h3 class="blue-partner-price">{% trans "Hasta <br> el 24 de Junio" %}</h3>
                                </div>
                                <div class="details">
                                    <p class="price"><span class="currency">$</span>250</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4 col-md-4 wow zoomIn price-type">
                            <div class="thumbnail most-recent">
                                <div class="title">
                                    <h3 class="gray-partner-price">{% trans "Desde <br>el 25 de Junio" %}</h3>
                                </div>
                                <div class="details">
                                    <p class="price"><span class="currency">$</span>250</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4 col-md-4 wow zoomIn">
                            <div class="thumbnail most-recent">
                                <div class="title">
                                    <h3 class="gray-partner-price">IN <br>SITU</h3>
                                </div>
                                <div class="details">
                                    <p class="price"><span class="currency">$</span>330</p>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col col-sm-12 col-md-12">
                      <p class="inscription-type">{% trans "NO MIEMBROS" %}</p>
                      <div class="container-price-types">
                        <div class="col col-sm-4 col-md-4 wow zoomIn price-type price-small"  data-wow-delay="0.5s">
                            <div class="thumbnail">
                                <div class="title">
                                    <h3  class="blue-partner-price">{% trans "Hasta <br> el 24 de junio" %}</h3>
                                </div>
                                <div class="details">
                                    <p class="price"><span class="currency">$</span>350</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4 col-md-4 wow zoomIn price-type">
                            <div class="thumbnail most-recent">
                                <div class="title">
                                    <h3 class="gray-partner-price">{% trans "Desde <br> el 25 de junio" %}</h3>
                                </div>
                                <div class="details">
                                    <p class="price"><span class="currency">$</span>400</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4 col-md-4 wow zoomIn">
                            <div class="thumbnail most-recent">
                                <div class="title">
                                    <h3 class="gray-partner-price">IN <br>SITU</h3>
                                </div>
                                <div class="details">
                                    <p class="price"><span class="currency">$</span>450</p>
                                    <!-- <ul>
                                        <li><i class="flaticon-check"></i>free entrance</li>
                                        <li><i class="flaticon-check"></i>free membership card</li>
                                        <li><i class="flaticon-check"></i>1x speech entrance</li>
                                        <li><i class="flaticon-check"></i>online tutorial guide</li>
                                        <li><i class="flaticon-check"></i>fivent dashboard account</li>
                                    </ul>
                                    <a href="#" class="btn btn-default theme-btn btn-with-icon">Order now<i class="fa fa-angle-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="section-title row">
                      <div class="col col-md-10 col-md-offset-1">
                          <p style="font-weight: bold">* {% trans "Precio incluye IGV" %}</p>
                      </div>
                  </div> <!-- end of section-title -->
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <section class="contact-form">
                        <div class="section-title">
                              <p class="register-form">{% trans "REGISTRATE" %}</p>
                              <p style="text-align: center">{% trans "Si deseas asistir al congreso debes completar el siguiente formulario" %}</p>
                                <p class="members-disclaimer" style="text-align: center">
                                {% blocktrans %} Si eres un miembro APEPYG/SLEP, los campos de nombres y apellidos deberán ser llenados según la siguiente base de MIEMBROS. Haz clic a <a target="
                                " href="/static/miembros.pdf">aquí</a> para ver la base</a>{% endblocktrans %}</p>
                        </div> <!-- end of section-title -->
                          <div class="row">
                              <div class="col">
                                  <form id="inscription-form" data-vv-scope="inscription" :ref="'inscription-form'">
                                    <div class="row">
                                      <div class="col col-lg-6 col-sm-6 col-xs-12 form-group">
                                        <label>{% trans "Nombres" %} <span style="color:red">*</span></label>
                                        <input :class="{'error':errorsVee.has('inscription.name')}" data-vv-as='{% trans "Nombres" %}' v-validate="'required'" data-vv-name="name" v-model="inscriptionForm.name" class="form-control" type="text" placeholder='{% trans "Ingresa tu nombre" %}'>
                                        <span v-show="errorsVee.has('inscription.name')" class="error-info">
                                          ${errorsVee.first('inscription.name')}
                                        </span>
                                      </div>

                                      <div class="col col-lg-6 col-sm-6 col-xs-12 form-group">
                                          <label>{% trans "Apellidos" %} <span style="color:red">*</span></label>
                                          <input :class="{'error':errorsVee.has('inscription.last_name')}" data-vv-as='{% trans "Apellidos" %}' v-validate="'required'" data-vv-name="last_name" v-model="inscriptionForm.lastName" class="form-control" type="text" placeholder='{% trans "Ingresa tus apellidos" %}'>
                                          <span v-show="errorsVee.has('inscription.last_name')" class="error-info">
                                            ${errorsVee.first('inscription.last_name')}
                                          </span>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col col-lg-6 col-sm-6 col-xs-12 form-group">
                                          <label>{% trans "Dirección de correo" %} <span style="color:red">*</span></label>
                                          <input :class="{'error':errorsVee.has('inscription.email')}" data-vv-as='{% trans "Dirección de correo" %}' v-validate="'required|email'" data-vv-name="email" v-model="inscriptionForm.email" class="form-control" type="email" placeholder='{% trans "Ingresa tu correo" %}'>
                                          <span v-show="errorsVee.has('inscription.email')" class="error-info">
                                            ${errorsVee.first('inscription.email')}
                                          </span>
                                      </div>
                                      <div class="col col-lg-6 col-sm-6 col-xs-12 form-group">
                                          <label>{% trans "Tipo de documento" %} <span style="color:red">*</span></label>

                                          <div>
                                            <label class="radio-inline">
                                              <input data-vv-name="document_type" data-vv-as='{% trans "Tipo de documento" %}' v-model="inscriptionForm.document_type" type="radio" value="1" v-validate="'required|in:1,2'"> DNI
                                            </label>
                                            <label class="radio-inline">
                                              <input data-vv-name="document_type" data-vv-as='{% trans "Tipo de documento" %}' v-model="inscriptionForm.document_type" type="radio" value="2"> {% trans "Pasaporte" %}
                                            </label>
                                          </div>
                                          <span v-show="errorsVee.has('inscription.document_type')" class="error-info">
                                            ${errorsVee.first('inscription.document_type')}
                                          </span>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col col-lg-6 col-sm-6 col-xs-12 form-group">
                                          <label>{% trans "DNI o Pasaporte" %} <span style="color:red">*</span></label>
                                          <input :class="{'error':errorsVee.has('inscription.document')}" data-vv-as='{% trans "DNI o Pasaporte" %}' v-validate="'required'" data-vv-name="document" v-model="inscriptionForm.document" class="form-control" type="number" placeholder='{% trans "Ingresa tu DNI o Pasaporte" %}'>
                                          <span v-show="errorsVee.has('inscription.document')" class="error-info">
                                            ${errorsVee.first('inscription.document')}
                                          </span>
                                      </div>
                                      <div class="col col-lg-6 col-sm-6 col-xs-12 form-group">
                                          <label>{% trans "Profesión" %} <span style="color:red">*</span></label>
                                          <input :class="{'error':errorsVee.has('inscription.profession')}" data-vv-as='{% trans "Profesión" %}' v-validate="'required'" data-vv-name="profession" v-model="inscriptionForm.profession" class="form-control" type="text" placeholder='{% trans "Ingresa tu profesión" %}'>
                                          <span v-show="errorsVee.has('inscription.profession')" class="error-info">
                                            ${errorsVee.first('inscription.profession')}
                                          </span>
                                      </div>
                                    </div>
                                    <div class="row">

                                      <div class="col col-lg-6 col-sm-6 col-xs-12 form-group">
                                          <label>{% trans "Especialidad" %}</label>
                                          <input v-model="inscriptionForm.speciality" class="form-control" type="text" placeholder='{% trans "Ingresa tu especialidad" %}'>
                                      </div>
                                      <div class="col col-lg-6 col-sm-6 col-xs-12 form-group">

                                          <label>{% trans "País" %} <span style="color:red">*</span></label>
                                          <select :class="{'error':errorsVee.has('inscription.country')}" data-vv-as='{% trans "País" %}' v-validate="'required'" data-vv-name="country"  v-model="inscriptionForm.country" class="form-control form-control-sm" id="country" style="display: block">
                          								          <option selected value="">--{% trans "Selecciona tu país" %}--</option>
                          								          <option  v-for= "country in countries" :key="country.id" :value="country.id" :label="country.name">${country.name}</option>

                                          </select>
                                          <span v-show="errorsVee.has('inscription.country')" class="error-info">
                                            ${errorsVee.first('inscription.country')}
                                          </span>
                                      </div>

                                    </div>
                                    <div class="row">

                                    <div class="col col-lg-6 col-sm-6 col-xs-12 form-group">
                                        <label for="subject">{% trans "Ciudad" %} <span style="color:red">*</span></label>
                                        <input v-model="inscriptionForm.city" :class="{'error':errorsVee.has('inscription.city')}" data-vv-as='{% trans "Ciudad" %}' v-validate="'required'" data-vv-name="city" v-model="inscriptionForm.speciality" class="form-control" type="text" placeholder='{% trans "Ingresa tu Ciudad" %}'>
                                        <span v-show="errorsVee.has('inscription.city')" class="error-info">
                                          ${errorsVee.first('inscription.city')}
                                        </span>
                                    </div>
                                      <div class="col col-lg-6 col-sm-6 col-xs-12 form-group">
                                            <label>{% trans "Teléfono" %} <span style="color:red">*</span></label>
                                            <input :class="{'error':errorsVee.has('inscription.phone')}" data-vv-as='{% trans "Teléfono" %}' v-validate="'required'" data-vv-name="phone" v-model="inscriptionForm.phone" class="form-control" type="number" placeholder='{% trans "Ingresa tu teléfono" %}'>
                                            <span v-show="errorsVee.has('inscription.phone')" class="error-info">
                                              ${errorsVee.first('inscription.phone')}
                                            </span>
                                      </div>
                                    </div>

                                    <div class ="row">

                                      <div class="col col-lg-6 col-sm-6 col-xs-12 form-group">
                                          <label>{% trans "Dirección" %} <span style="color:red">*</span></label>
                                          <input :class="{'error':errorsVee.has('inscription.address')}" data-vv-as='{% trans "Dirección" %}' v-validate="'required'" data-vv-name="address" v-model="inscriptionForm.address" class="form-control" type="text" id="address" placeholder='{% trans "Ingresa tu dirección" %}'>
                                          <span v-show="errorsVee.has('inscription.address')" class="error-info">
                                            ${errorsVee.first('inscription.address')}
                                          </span>
                                      </div>
                                    </div>

                                    <div class="submit-btn col col-xs-12">
                                          <button v-show="!loadingForm" type="button" class="theme-btn" @click="openModal('inscription')">{% trans "Registrarse" %} <i class="fas fa-angle-right"></i></button>
                                          <pulse-loader :loading="loadingForm" :color="'green'"></pulse-loader>
                                    </div>
                                  </form>
                              </div>
                          </div>
                  </section>
                </div>
              </div>

          </div> <!-- end of container -->
      </section>
      <!-- end of pricing-table -->

      <!-- <div class="card-container active" style="display: none;">

    	    <h2 class="titulo_for_dele titulo_for_total_payment"> PAGO</h2>
    	    <div style="font-weight: 700;text-align: center;margin: 10px 0;font-size: 1.3em;">Monto a pagar <span id="amount"></span></div>
    	    <div style="height: 200px">
            <div class="col-md-6">
    	        <div class="card-wrapper"></div>
            </div>
            <div class="col-md-6">
    	        <form class="card-form" action="" method="POST" id="culqi-card-form">
    	            <input type="hidden" size="50" data-culqi="card[email]" id="card[email]">
    	            <input type="hidden" size="20" data-culqi="card[number]" id="card[number]">
    	            <input type="hidden" size="4" data-culqi="card[cvv]" id="card[cvv]">
    	            <input type="hidden" size="2" data-culqi="card[exp_month]" id="card[exp_month]">
    	            <input type="hidden" size="4" data-culqi="card[exp_year]" id="card[exp_year]">

    	            <input class="card-info" id="card-number" maxlength="19" placeholder="Número de tarjeta" type="text" name="number" @change="">
    	            <input class="card-info" placeholder="MM/YY" maxlength="7" type="text" name="expiry" style="width: 120px;float: left;margin-right: 10px;">
    	            <input class="card-info" placeholder="CVV" type="number" name="cvv" maxlength="4" style="width: 80px;">

    	            <div class="card_acecepted_info"><strong>Tarjetas aceptadas</strong></div>
    	            <div class="accepted_cards"></div>
    	        </form>
            </div>
    	    </div>

    	    <div class="payment-extra-info" style="font-size: 15px">
    	    	<div style="padding-bottom: 14px;"><input type="checkbox" name="selecttermjp" id="selecttermjp" style="display: inline-block;padding: 5px !important;margin: 5px 0 5px 0 !important;width: 20px;height: 16px;">He leído y aceptado los términos y condiciones.
    	    	</div>
    	    <span id="card_error">
    	    </span>

    	    <button class="culqi_button">Aceptar</button>

    	   </div>
       </div> -->
       <el-dialog
        title="{% trans "PAGO" %}"
        :visible.sync="showPaymentDialog"
        :before-close="onBeforeClosePaymentDialog"
        custom-class="payment-dialog"
        @open="onOpenPaymentDialog"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :show-close="!loading">
          <div class="payment-amount">{% trans "Monto a pagar" %} $<span>${amount}</span></div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    	        <div class="card-wrapper">
                  <card v-model="cardDetail"></card>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 card-items">
    	        <form class="card-form" action="" method="POST" id="culqi-card-form" data-vv-scope="culqi" :ref="'culqi-form'">
    	            <input type="hidden" size="50" data-culqi="card[email]" id="card[email]" :value="inscriptionForm.email">
    	            <input type="hidden" size="20" data-culqi="card[number]" id="card[number]" :value="cardDetail.number">
    	            <input type="hidden" size="4" data-culqi="card[cvv]" id="card[cvv]" :value="cardDetail.cvc">
    	            <input type="hidden" size="2" data-culqi="card[exp_month]" id="card[exp_month]" :value="cardMonth">
    	            <input type="hidden" size="4" data-culqi="card[exp_year]" id="card[exp_year]" :value="cardYear">
                  <div class="row">
      	            <input :class="{'error':errorsVee.has('culqi.card-number')}" data-vv-as="{% trans "Número de tarjeta" %}" v-validate="'required|min:14|max:19'" data-vv-name="card-number" v-model="cardDetail.number" class="card-info" id="card-number" maxlength="19" placeholder="{% trans "Número de tarjeta" %}" name="number">
                      <!-- <span v-show="errorsVee.has('culqi.card-number')" class="error-info">
                        ${errorsVee.first('culqi.card-number')}
                      </span> -->
                  </div>
                  <div class="row">
                    <div class="col col-lg-12 col-md-12 col-xs-12" style="padding:0;">
        	            <input :class="{'error':errorsVee.has('culqi.card-expiry')}" data-vv-as="{% trans "Fecha" %}" v-validate="'required'" data-vv-name="card-expiry" v-model="cardDetail.expiry" class="card-info" placeholder="MM/YY" maxlength="5" type="text" name="expiry" style="width: 120px;float: left;margin-right: 10px;">
                        <!-- <span v-show="errorsVee.has('culqi.card-expiry')" class="error-info">
                          ${errorsVee.first('culqi.card-expiry')}
                        </span> -->
                      <input :class="{'error':errorsVee.has('culqi.card-cvc')}" data-vv-as="CVV" v-validate="'required|min:3|max:4'" data-vv-name="card-cvc" v-model="cardDetail.cvc" class="card-info" placeholder="CVV" type="number" name="cvc" maxlength="4" style="width: 80px;">
                    </div>
                    <!-- <div class="col col-lg-7 col-md-7 col-xs-7" style="padding:0;">
        	            <input :class="{'error':errorsVee.has('culqi.card-cvc')}" data-vv-as="CVV" v-validate="'required|min:3|max:4'" data-vv-name="card-cvc" v-model="cardDetail.cvc" class="card-info" placeholder="CVV" type="number" name="cvc" maxlength="4" style="width: 80px;">
                    </div> -->
                  </div>
                  <div class="card_acecepted_info"><strong>{% trans "Tarjetas aceptadas" %}</strong></div>
    	            <div class="accepted_cards"></div>
    	        </form>
            </div>
    	    </div>
          <div class="row" style="margin-top:20px;">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 payment-extra-info" style="font-size: 15px">
              <div style="padding-bottom: 14px;"><input v-model="terms" type="checkbox" name="selecttermjp" id="selecttermjp" style="display: inline-block;padding: 5px !important;margin: 5px 0 5px 0 !important;width: 20px;height: 16px;">{% trans "He leído y aceptado los términos y condiciones." %}
      	    	</div>
      	       <span id="card_error">
      	       </span>
               <button v-show="!loading" class="culqi_button" @click="validateCulqi('culqi')">{% trans "Aceptar" %}</button>
               <pulse-loader :loading="loading" :color="'green'"></pulse-loader>
           </div>
         </div>

       </el-dialog>
       <el-dialog
        title="{% trans "CONFIRMACIÓN DE REGISTRO" %}"
        :visible.sync="showParticipantResponseDialog"
        :before-close="onBeforeCloseParticipantResponseDialog"
        custom-class="participant-response-dialog"
        @open="onOpenPaymentDialog"
        :close-on-click-modal="false"
        :close-on-press-escape="false">
          <div>
            <div class="row">
              <div class='row' style="margin-bottom:20px;text-align:justify">
                  <p>{% trans "Estimado asistente:<br>Su solicitud ha sido recibida y la transacción se ha realizado con éxito. En breve le estará llegando un correo de confirmación." %}</p>
              </div>
              <div class='row'>
       	       	<p><strong class="label-confirm">{% trans "Correo:" %} </strong>${participantResponse.email}</p>
              </div>
              <div class='row'>
                <p><strong class="label-confirm">{% trans "Código de transacción:" %} </strong>${participantResponse.codeTransaction}</p>
              </div>
              <div class='row'>
     	       	  <p><strong class="label-confirm">{% trans "Fecha de transacción:" %} </strong>${participantResponse.dateTransaction}</p>
     	        </div>
     	        <div class='row'>
     	       	  <p><strong class="label-confirm">{% trans "Monto:" %} </strong>${participantResponse.amount}</p>
     	        </div>
              <div class="row" style="margin-top: 20px; text-align: justify;">
                <p>*  {% trans "Si no recibe el mail de confirmación le agradeceremos revisar su bandeja de spam o no deseados " %}</p>
              </div>
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-success" role="alert" style="text-align:center; margin-bottom:0;">
                  Te hemos enviado un correo de confirmación con todos los datos de tu registro.
              </div> -->
            </div>
    	    </div>
        </el-dialog>
    </div>
      {% endblock %}

      {% block extrafooter %}
      <script src="{% static 'js/inscription.js' %}"></script>
      {% endblock %}
