{% extends "base.html" %}
{% load static %}
{% load i18n %}

    {% block content %}
      <!-- pricing-table -->
      <div id="abstracts">
        <section class="pricing-table section-padding" id="abstract-inscription-section">

            <div class="container">
                <div class="deadline row">
                    <div class="col col-md-10 col-md-offset-1">
                        <h2>{% trans "INICIAR SESIÓN" %}</h2>
                        <!-- <p>{% trans "Próximamente se habilitará la inscripción de Abstracts" %}</p>
                        <h3>{% trans "Desde el 01 de Abril al 20 de Mayo" %}</h3> -->
                     </div>
                </div> <!-- end of section-title -->
                <div class="col-md-6 col-md-offset-3">
                  <form id="login-form">
                    <div class="form-group">
                      <label>{% trans "DIRECCIÓN DE CORREO" %} <span style="color:red">*</span></label>
                      <input :class="{'error':errorsVee.has('email-login')}" data-vv-as="{% trans 'Correo' %}" v-validate="'required|email'" data-vv-value-path="value" data-vv-name="email-login" v-model="login.email" type="email" class="form-control" placeholder="{% trans 'Ingresa tu correo' %}">
                      <span v-show="errorsVee.has('email-login')" class="error-info">${errorsVee.first('email-login')}</span>
                    </div>
                    <div class="form-group">
                      <label>{% trans "CONTRASEÑA" %} <span style="color:red">*</span></label>
                      <input :class="{'error':errorsVee.has('password-login')}" data-vv-as="{% trans 'Contraseña' %}" v-validate="'required'" data-vv-value-path="value" data-vv-name="password-login" v-model="login.password" type="password" class="form-control" placeholder="{% trans 'Ingresa tu contraseña' %}">
                      <span v-show="errorsVee.has('password-login')" class="error-info">${errorsVee.first('password-login')}</span>
                    </div>
                    <div class="form-group" style="text-align:center;">
                      <input type="button" class="btn btn-success" @click="loginUser" value="{% trans 'Ingresar' %}"></input>
                    </div>
                  </form>
                  <el-alert  v-if="loginFail" type="error" :closable="false" title="" show-icon>{% trans "Correo o contraseña incorrectos" %}
                  </el-alert>
                  <pulse-loader :loading="loading" :color="'green'"></pulse-loader>
                </div>
            </div> <!-- end of container -->
        </section>
        <!-- end of pricing-table -->
      </div>

    {% endblock %}


{% block extrafooter %}
<!-- <script>

  // $('#login').click(function(){
  //   console.log("holaa")
  //   $.ajax({
  //         type:'POST',
  //         url:'/abstracts',
  //         cache:false,
  //         data: $("#login-form").serialize(),
  //         success: function(response){
  //           if(response.success == false){
  //             alert('EMAIL YA EXISTE')
  //           }
  //           else{
  //
  //           }
  //         }
  //       });
  // });
</script> -->
<script src="{% static 'js/abstracts.js' %}"></script>
{% endblock %}
