{% extends "base.html" %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
    {% block content %}
    <!-- event-planner -->
    <section id="program-section" class="event-planner section-padding">
        <div class="container">
            <div class="section-title row">
                <div>
                    <h2>{% trans "PROGRAMA" %}</h2>
                </div>
            </div>

            <div class="content row">
                <div class="col">
                   <div class="event-planner-slider">
                        <div class="plan table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <p>{% trans "Miércoles" %}</p>
                                            <span>{% trans "24/10/2018" %}</span>
                                        </th>
                                        <th>
                                            <p>{% trans "Jueves" %}</p>
                                            <span>{% trans "25/10/2018" %}</span>
                                        </th>
                                        <th>
                                            <p>{% trans "Viernes" %}</p>
                                            <span>{% trans "26/10/2018" %}</span>
                                        </th>
                                        <th>
                                            <p>{% trans "Sábado" %}</p>
                                            <span>{% trans "27/10/2018" %}</span>
                                        </th>
                                    </tr>
                                </thead> <!-- end of thead -->

                                <tbody>
                                    <tr>
                                      <td class="subheader">
                                        <h4>&nbsp;</h4>
                                      </td>
                                      <td class="subheader color-red-td">
                                          <h4>{% blocktrans %}Hiperandrogenemia debido a desordenes de la corteza adrenal: Algoritmo diagnóstico.{% endblocktrans %}<p class="expositor"><strong>{% trans "Dra. Kyriakie Sarafoglou" %}</strong></p></h4>
                                      </td>
                                      <td class="subheader color-red-td">
                                          <h4>{% blocktrans %}Efectos de la Hipoglicemia en la función cerebral.{% endblocktrans %}<p class="expositor"><strong>{% trans "Dra. Diva De León" %}</strong></p></h4>
                                      </td>
                                      <td class="subheader color-red-td" rowspan="2" style="vertical-align: middle;">
                                          <h4>{% blocktrans %}Biomarcadores y nuevas tecnologías para monitorización de la Diabetes en la práctica clínica.{% endblocktrans %}<p class="expositor"><strong>{% trans "Dr. Steven Willie" %}</strong></p><p class="time"><strong>{% trans "Hora:" %}</strong>07:30 – 08:15</p></h4>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td rowspan="9" class="register-td">
                                        <h4>{% trans "Registro y acreditación" %}</h4>
                                          <p class="time"><strong>{% trans "Hora:" %}</strong> 08:30 - 17:30</p>
                                      </td>
                                        <td class="color-red-td">
                                            <h4>{% trans "Control y seguimiento del crecimiento en pubertad retrasada." %}</h4>
                                            <p class="expositor"><strong>{% trans "Dr. Taneli Raivio" %}</strong></p>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 07:30 – 08:15</p>
                                            
                                        </td>
                                        <td class="color-red-td">
                                            <h4> {% trans "Desórdenes en los pasos iniciales de la esteroidogénesis." %}</h4>
                                            <p class="expositor"><strong>{% trans "Dra. Tania Bachega" %}</strong></p>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 07:30 – 08:15</p>
                                            
                                        </td>
                                        <!-- <td class="break">
                                            <h4>{% trans "BWS: Del diagnostico molecular al seguimiento , un nuevo consenso internacional" %}</h4>
                                            <p class="expositor"><strong>Irene Netchine</strong></p>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 08:30 - 09:30</p>
                                        </td> -->
                                    </tr>
                                    <tr>
                                        <td class="color-orange-td">
                                            <h4>{% trans "Perlas en la evaluación, diagnóstico y tratamiento de la hipoglicemia hiperinsulinemica persistente." %}</h4>
                                            <p class="expositor"><strong>{% trans "Dra. Diva De León" %}</strong></p>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 08:30 - 09:30</p>
                                            
                                        </td>
                                        <td class="color-orange-td">
                                            <h4> {% trans "Síndrome de Beckwith Wiedeman: Del diagnóstico molecular al seguimiento, un nuevo consenso internacional." %}</h4>
                                            <p class="expositor"><strong>{% trans "Dra. Irene Netchine" %}</strong></p>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 08:30 - 09:30</p>
                                            
                                        </td>
                                        <td class="color-orange-td">
                                            <h4>{% trans "Terapia combinada en el hipotiroidismo en la infancia: Optimizando el manejo" %}</h4>
                                            <p class="expositor"><strong>{% trans "Dr. Ari Wassner" %}</strong></p>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 08:30 - 09:30</p>
                                        </td>
                                      </tr>
                                    <tr>
                                        <td class="color-orange-td">
                                            <h4>{% trans "Nuevos conocimientos en el diagnóstico y manejo endocrinológico del Síndrome de Rusell Silver. " %}</h4>
                                            <p class="expositor"><strong>{% trans "Dra. Irene Netchine" %}</strong></p>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 09:30 - 10:30</p>
                                            
                                        </td>
                                        <td class="color-orange-td">
                                            <h4>{% trans "Sensibilidad y resistencia a la insulina como consecuencia de la programación metabólica fetal." %}</h4>
                                            <p class="expositor"><strong>{% trans "Dr. Paul Leslie Hofman" %}</strong></p>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 09:30 - 10:30</p>
                                        </td>
                                        <td class="color-orange-td">
                                            <h4>{% trans "Diabetes MODY: Diagnóstico y metas terapéuticas." %}</h4>
                                            <p class="expositor"><strong>{% trans "Dr. Steven Willie" %}</strong></p>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 09:30 - 10:30</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="color-yellow-td">
                                            <h4>{% trans "Posters" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 10:30 - 11:30</p>
                                            
                                        </td>
                                        <td class="color-yellow-td">
                                            <h4>{% trans "Posters" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 10:30 - 11:30</p>
                                            
                                        </td>
                                        <td class="color-yellow-td">
                                            <h4>{% trans "Posters" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 10:30 - 11:30</p>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="color-green-td">
                                            <h4>{% trans "Comunicaciones Orales 1 & 2" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 11:30 - 12:30</p>
                                            
                                        </td>
                                        <td class="color-green-td">
                                            <h4>{% trans "Comunicaciones Orales 5 & 6" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 11:30 - 12:30</p>
                                            
                                        </td>
                                        <td class="color-green-td">
                                            <h4>{% trans "Comunicaciones Orales 9 & 10" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 11:30 - 12:30</p>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="color-skyblue-td">
                                            <h4>{% blocktrans %} Simposio satélite {% endblocktrans %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 12:30 - 14:00</p>
                                            
                                        </td>
                                        <td class="color-skyblue-td">
                                            <h4>{% blocktrans %} Simposio ULTRAGENYX: X-linked hypophosphatemia (XLH): New evidences in diagnosis and treatment {% endblocktrans %}</h4>
                                            <br>
                                            <p class="expositor"><strong>-Dr. Hamilton Cassinelli, Hospital de Niños Ricardo Gutiérrez, Buenos Aires - Argentina</strong></p>
                                            <br>
                                            <p class="expositor"><strong>-Dr. Javier San Martin, Ultragenyx Pharmaceutical, USA</strong></p>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 12:30 - 14:00</p>
                                        </td>
                                        <td class="color-skyblue-td">
                                            <h4>{% blocktrans %} Simposio satélite {% endblocktrans %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 12:30 - 14:00</p>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="color-yellow-td">
                                            <h4>{% trans "Posters" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 14:00 - 15:00</p>
                                            
                                        </td>
                                        <td class="color-yellow-td">
                                            <h4>{% trans "Posters" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 14:00 - 15:00</p>
                                            
                                        </td>
                                        <td class="color-yellow-td">
                                            <h4>{% trans "Posters" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 14:00 - 15:00</p>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                      <td class="color-green-td">
                                          <h4>{% trans "Comunicaciones Orales 3 & 4" %}</h4>
                                          <p class="time"><strong>{% trans "Hora:"%}</strong> 15:00 - 16:00</p>
                                          
                                      </td>
                                      <td class="color-green-td">
                                          <h4>{% trans "Comunicaciones Orales 7 & 8" %}</h4>
                                          <p class="time"><strong>{% trans "Hora:"%}</strong> 15:00 - 16:00</p>
                                          
                                      </td>
                                      <td class="color-green-td">
                                          <h4>{% trans "Comunicaciones Orales 11 & 12" %}</h4>
                                          <p class="time"><strong>{% trans "Hora:"%}</strong> 15:00 - 16:00</p>
                                          
                                      </td>
                                    </tr>
                                    <tr>
                                        <td class="color-yellow-td">
                                            <h4>{% trans "Posters" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 16:00 - 17:00</p>
                                            
                                        </td>
                                        <td class="color-yellow-td">
                                            <h4>{% trans "Posters" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 16:00 - 17:00</p>
                                            
                                        </td>
                                        <td class="color-yellow-td">
                                            <h4>{% trans "Posters" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 16:00 - 17:00</p>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                      <td class="td-register-simposio color-skyblue-td">
                                        <div class="div-register">
                                        </div>
                                        <div class="div-simposio ">
                                          <h4>{% trans "Simposio Sandoz" %}</h4>
                                          <br>
                                          <p class="expositor"><strong>{% trans "Perlas fisiopatológicas del síndrome metabólico infantojuvenil" %}</strong></p>
                                          <br>
                                          <p class="expositor">{% trans "-Estado proinflamatorio en la obesidad infantojuvenil  (Dra. Cristina Bazán de Casella - Argentina)" %}</p>
                                          <p class="time"><strong>{% trans "Hora:"%}</strong> 17:00 - 18:00</p>
                                          <br>
                                          <br>
                                          <p class="expositor">{% trans "-Síndrome metabólico y su asociación con el consumo elevado de fructosa (Dr. Raúl Calzada – México)" %}</p>
                                          <p class="time"><strong>{% trans "Hora:"%}</strong> 18:00 - 18:25</p>
                                          <br>
                                          <br>
                                          <p class="expositor">{% trans "Closing remarks (Dr. Ariel Perelsztein – Chairman - Sandoz)" %}</p>
                                          <p class="time"><strong>{% trans "Hora:"%}</strong> 18:25 - 18:30</p>
                                        </div>
                                      </td>
                                      <td class="color-blue-td">
                                          <h4>{% blocktrans %}<strong> Simposio ESPE: enfoque diagnóstico del paciente con hipogonadísmo hipogonadotrópico: biología del eje neural GnRH</strong><br><br>-Diagnóstico del hipogonadismo masculino en la infancia<p class="expositor"><strong>Dra. Romina Grinspon</strong></p><br><br>-Diagnóstico diferencial y futuros tratamientos</h4><p class="expositor"><strong>Dr. Taneli Raivio</strong></p>{% endblocktrans %}
                                          <p class="time"><strong>{% trans "Hora:"%}</strong> 17:00 - 18:30</p>
                                      </td>
                                      <td class="color-blue-td">
                                        <h4>{% blocktrans %}<strong>Simposio SEEP: Síndrome de ovario poliquístico</strong><br><br>-Enfoque diagnostico del SOP basado en las imágenes ecográficas y biomarcadores<p class="expositor"><strong>Dra. Alexia Peña</strong></p><br><br>-Síndrome de Ovarios Poliquísticos en la Adolescencia: Nuevos conceptos en fisiopatología y opciones terapéuticas.<p class="expositor"><strong>Dra. Lourdes Ibañez</strong></p>{% endblocktrans %}
                                        </h4>
                                        <p class="time"><strong>{% trans "Hora:"%}</strong> 17:00 - 18:30</p>
                                      </td>
                                      <td class="color-blue-td">
                                        <h4>{% blocktrans %}<strong> Simposio APPES: Hiperplasia adrenal congénita por deficiencia de 21 hidroxilasa: Puesta al día en el manejo desde el estadio prenatal hasta la adolescencia</strong><br><br>-Eje hipofiso-adrenal en  los prematuros extremos y sus implicancias en la pesquisa neonatal en hiperplasia adrenal congénita<p class="expositor"><strong>Dr.Paul Hofman</strong></p><br><br>-Biosíntesis esteroidea, niveles de 17-OHP y tipo de mutaciones del gen CYP21A2 (TB)<p class="expositor"><strong>Dra. Tania Bachega</strong></p><br><br>-Manejo del paciente con Hiperplasia adrenal congénita y nuevas opciones terapeúticas<p class="expositor"><strong>Dra. Kyriakie M Sarafoglou</strong></p>
                                        {% endblocktrans %}
                                        </h4>
                                        <p class="time"><strong>{% trans "Hora:"%}</strong> 17:00 - 18:30</p>
                                      </td>

                                    </tr>
                                    <tr>
                                      <td rowspan="2" class="color-purple-td">
                                        <h4>{% trans "Ceremonia de apertura" %}</h4>
                                        <p class="time"><strong>{% trans "Hora:"%}</strong> 18:30 - 19:00</p>
                                        
                                      </td>
                                      <td rowspan="3" class="color-lightgray-td">
                                          <h4>{% trans "Maestro de la Endocrinología" %}</h4>
                                          <p class="time"><strong>{% trans "Hora:"%}</strong> 18:30 - 19:00</p>
                                          
                                      </td>
                                      <td  rowspan="2" class="color-blue-td">
                                        <h4>{% blocktrans %}<strong> Simposio SLEP: Nuevos conceptos en la patogénesis, el diagnóstico y tratamiento del hipotiroidismo congénito primario.</strong><br><br>- Enfoque y manejo del hipotiroidismo central.<p class="expositor"><strong>Dr. Ari J. Wassner</strong></p>{% endblocktrans %}</h4>
                                        <p class="time"><strong>{% trans "Hora:"%}</strong> 18:30 - 20:00</p>
                                      </td>
                                      <td rowspan="3" class="color-purple-td">
                                          <h4>{% trans "Ceremonia de Clausura" %}</h4>
                                          <h4>{% trans "y entrega de premios" %}</h4>
                                          <p class="time"><strong>{% trans "Hora:"%}</strong> 18:30 - ∞ </p>
                                    </td>
                                    </tr>
                                    <tr>

                                    </tr>
                                     <tr>
                                        <td class="color-gray-td">
                                            <h4>{% trans "Conferencia César Begardá" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 19:00 - 20:00</p>
                                            
                                        </td>
                                        <!-- <td class="color-cream-td">
                                            <h4>{% trans "Reunión de Gobierno" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 20:00 - 21:00</p>
                                            
                                        </td> -->
                                        <td class="color-cream-td">
                                            <h4>{% trans "Reunión de Gobierno" %}</h4>
                                            <p class="time"><strong>{% trans "Hora:"%}</strong> 20:00 - 21:00</p>
                                            
                                        </td>
                                    </tr>

                                  <tr></tr>
                                </tbody> <!-- end of tbody -->
                            </table> <!-- end of table -->
                        </div> <!-- end of plan -->


                    </div> <!-- end of event-planner-slider -->
                    <!-- <div class="leyend">
                        <p>{% trans "Sugerencia" %}</p>
                        {% blocktrans %}Conferencias y Simposio: invitaciones para ESPE, SEEP y APPES<br>Simposio: un orador de otras Sociedades y uno de SLEP{% endblocktrans %}
                    </div> -->
                </div> <!-- end of col -->
            </div> <!-- end of content -->
        </div> <!-- end of container -->
        <div class="container">
                <div class="section-title expositores row">
                    <div>
                        <h2>{% trans "EXPOSITORES" %}</h2>
                    </div>
                </div>
    
                <div class="content row">
                    <div class="col">
                       <div class="event-planner-slider">
                            <div class="plan">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 expositor-image"><img src="{% static 'images/expositores/expositor_1.png' %}" class="img img-responsive" alt></div>
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h4 class="name-expositor">Steven M. Willi, MD</h4>
                                        <ul>
                                            <li>{% trans "Director del Centro de Diabetes para niños del Hospital de niños de Filadelfia." %}</li>
                                            <li>{% trans "Profesor asociado de la Escuela de Medicina Perelman en la Universidad de Pensilvania." %}</li>
                                            <li>{% trans "Áreas de especialización: Diabetes tipo 1, Diabetes tipo 2, Enfermedades de la tiroides, Trastornos puberal, Trastornos hipofisiarios." %}</li>
                                            <li>{% trans "Comité de Revisión Científica de Endocrinología deL Hospital de Philadelphia." %}</li>
                                            <li>{% trans "<strong>Consejero  Honorario</strong> del Programa de Educación para la Madre y el Prevención de la obesidad infantil en China." %}</li>
                                            <li>{% trans "Miembro Honorario del <strong>Comité de Expertos</strong> del Instituto NIDDK (División de Diabetes, Endocrinología y Enfermedades Metabólicas)." %}</li>
                                            <li>{% trans "Programa de desarrollo e Investigacion  del Páncreas artificial NIH." %}</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 expositor-hr"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 expositor-image"><img src="{% static 'images/expositores/expositor_2.png' %}" class="img img-responsive" alt></div>
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h4 class="name-expositor">Ari J. Wassner, MD</h4>
                                        <ul>
                                            <li>{% trans "Director del programa de Tiroides." %}</li>
                                            <li>{% trans "Director asociado del programa de capacitación en endocrinología." %}</li>
                                            <li>{% trans "Profesor Asistente de Pediatría de la Escuela de Medicina de Harvard." %}</li>
                                            <li>{% trans "Certificado de Excelencia 2016 en Tutoría Harvard Medical School." %}</li>
                                            <li>{% trans "Premio 2017 a la excelencia en la enseñanza en el Hospital de Niños de Boston." %}</li>
                                            <li>{% trans "<strong>Nominado</strong> y premiado por Facultad de Medicina Donald O'Hara de la Universidad de Harvard, con el premio a la Excelencia en la Enseñanza Harvard Medical School." %}</li>
                                        </ul>
																		</div>
																		<div class="col-xs-12 expositor-hr"></div>
																</div>
																<div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 expositor-image"><img src="{% static 'images/expositores/expositor_3.png' %}" class="img img-responsive" alt></div>
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h4 class="name-expositor">Kyriakie Sarafoglou,MD
																					</h4>
                                        <ul>
                                            <li>{% trans "Profesora Asociada del Departamento de Pediatría División de Endocrinología Pediátrica, <strong>Genetica y de Metabolismo</strong>." %}</li>
                                            <li>{% trans "Directora del Centro Leo Fung para pacientes con de Hiperplasia Adrenal Congénita y Trastornos del Desarrollo Sexual del Hospital Masónico de Niños de Minnesota." %}</li>
                                            <li>{% trans "<strong>Asesora Tecnica</strong> del Departamento de Salud para el Programa de <strong>Tamizaje Neonatal</strong> del Estado de Minnesota." %}</li>
                                            <li>{% trans "Miembro del Comité Consultivo de la Facultad de <strong>Medicina</strong> de la Universidad de Cornell." %}</li>
                                            <li>{% trans "Miembro Asesor del Comité Científico del Centro de Investigación Clínica y del Comité de Medicamentos y Drogas de Minessota." %}</li>
                                            <li>{% trans "Editora y <strong>Autora</strong> del libro de Texto Endocrinología Pediátrica y Errores Innatos del metabolismo (2017)." %}</li>
                                        </ul>
																		</div>
																		<div class="col-xs-12 expositor-hr"></div>
																</div>
																<div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 expositor-image"><img src="{% static 'images/expositores/expositor_4.png' %}" class="img img-responsive" alt></div>
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h4 class="name-expositor">Diva D. De Leon-Crutchlow, M.D., M.S.C.E.</h4>
                                        <ul>
                                            <li>{% trans "Directora del Centro de Hiperinsulinismo Congénito del Hospital de niños de Filadelfia." %}</li>
                                            <li>{% trans "Profesora Asociada de Pediatría en el Hospital de Niños de Filadelfia, Escuela de medicina de la Universidad de Pensilvania." %}</li>
                                            <li>{% trans "Áreas de experiencia: Hiperinsulinismo congénito,Hiperinsulinismo, Diabetes monogénica (MODY), Diabetes neonatal, Hipoglucemia posprandial después de la fundoplicatura de Nissen." %}</li>
                                        </ul>
																		</div>
																		<div class="col-xs-12 expositor-hr"></div>
																</div>
																<div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 expositor-image"><img src="{% static 'images/expositores/expositor_5.png' %}" class="img img-responsive" alt></div>
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h4 class="name-expositor">LOURDES IBAÑEZ TODA</h4>
                                        <ul>
                                            <li>{% trans "Endocrinóloga Pediatra de la Unidad de Endocrinología del Hospital Sant Joan de Déu, Barcelona." %}</li>
                                            <li>{% trans "<strong>Directora</strong> del Centro de Entrenamiento de Endocrinología Pediátrica de la Universidad de Barcelona." %}</li>
																						<li>{% trans "Coordinadora del Grupo de Investigación de Crecimiento Prenatal y Enfermedades del Adulto Universidad de Barcelona." %}</li>
																						<li>{% trans "Miembro del Centro de Investigación Biomédica en Red de Diabetes y enfermedades Metabólicas Asociadas (CIBERDEM), Instituto de San Carlos III, Madrid." %}</li>
																						<li>{% trans "Profesora <strong>Principal</strong> de Pediatría, Universidad de Barcelona." %}</li>
																						<li>{% trans "Coordinadora del Programa de Investigación en <strong>Endocrinología</strong> Pediátrica." %}</li>
																						<li>{% trans 'Editora Asociada de la Revista Hormone Research.' %}</li>
																						<li>{% trans 'Coordinadora del grupo de trabajo <strong>“PEG”</strong> de la Sociedad Española de Endocrinología Pediátrica.' %}</li>
																						<li>{% trans "Coordinadora del Grupo de trabajo de ginecología pediátrica y del Adolescente de la Sociedad Europea de Endocrinología Pediátrica." %}</li>
                                        </ul>
																		</div>
																		<div class="col-xs-12 expositor-hr"></div>
																</div>
																<div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 expositor-image"><img src="{% static 'images/expositores/expositor_6.png' %}" class="img img-responsive" alt></div>
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h4 class="name-expositor">DR. PAUL LESLIE HOFMAN</h4>
                                        <ul>
                                            <li>{% trans "Director Clínico de la <strong>Unidad de Investigación Maurice and Nessie Paykel</strong>, del Instituto Liggins, de la Universidad de Auckland (Nueva Zelanda)." %}</li>
                                            <li>{% trans "Profesor de Endocrinología Pediátrica del Instituto Liggins, Universidad de Auckland." %}</li>
																						<li>{% trans "<strong>Director</strong> del Servicio de Endocrinología Pediátrica del Starship Children’s Hospital, Auckland." %}</li>
																						<li>{% trans "Miembro del Centro de Investigación Biomédica en Red de Diabetes y enfermedades Metabólicas Asociadas (CIBERDEM), Instituto de San Carlos III, Madrid." %}</li>
																						<li>{% trans "Ex presidente de la Sociedad Asia-Pacífico." %}</li>
																						<li>{% trans "Presidente de la Sociedad de Endocrinología Pediátrica Australiana." %}</li>
																						<li>{% trans "Miembro de la unidad de <strong>Tamizaje Neonatal</strong>, involucrado en el diagnóstico, tratamiento y seguimiento de las enfermedades endocrinas diagnosticadas con tamizaje: Hipotiroidismo Congenito e Hiperplasia Adrenal Congenita." %}</li>
                                        </ul>
																		</div>
																		<div class="col-xs-12 expositor-hr"></div>
																</div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 expositor-image"><img src="{% static 'images/expositores/expositor_7.png' %}" class="img img-responsive" alt></div>
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h4 class="name-expositor">DRA. IRENE NÉTCHINE</h4>
                                        <ul>
                                            <li>{% trans "<strong>Endocrinóloga Pediatra</strong>, Coordinadora del Laboratorio de Exploraciones endocrinas funcionales y moleculares, del Departamento de Endocrinología Pediátrica del Hospital de Niños Trousseau, Paris-Francia." %}</li>
                                            <li>{% trans "Profesora <strong>Principal</strong> de fisiología de la Universidad de La Sorbona, Paris." %}</li>
                                            <li>{% trans "Miembro del equipo de investigadores del Instituto Nacional de Salud de <strong>Francia</strong> (INSERM)." %}</li>
                                            <li>{% trans "Vice-presidenta del <strong>Organismo de Cooperación</strong> Europea en Ciencia y Tecnología." %}</li>
                                            <li>{% trans "Miembro de la Red de Investigación y <strong>Diagnóstico</strong> de Desórdenes de la Impronta Genómica." %}</li>
                                            <li>{% trans "Coordinadora de la Unidad de Investigación  de la Sociedad Europea de Endocrinología Pediátrica para síndromes de Obesidad y Alteraciones de Crecimiento de origen genético, y de la Red de Enfermedades Endocrinológicas Raras." %}</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 expositor-hr"></div>
                                </div>
																<div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 expositor-image"><img src="{% static 'images/expositores/expositor_8.jpg' %}" class="img img-responsive" alt></div>
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h4 class="name-expositor">Taneli Raivio, MD, PhD</h4>
                                        <ul>
                                            <li>{% trans "Endocrinólogo Pediatra, docente, investigador senior." %}</li>
                                            <li>{% trans "Líder de grupo en el Departamento de Fisiología de la Facultad de Medicina de la Universidad de Helsinki." %}</li>
                                            <li>{% trans "Médico jefe en educación e investigación." %}</li>
                                            <li>{% trans "Endocrinólogo pediatra en el Hospital de Niños, Hospital Central de la Universidad de Helsinki, Finlandia. " %}</li>
                                            <li>{% trans "Jefe del programa de Doctorado en investigación clínica de la Escuela de Doctorado de Helsinki en ciencias de la salud, Universidad de Helsinki, Finlandia." %}</li>
                                            <li>{% trans "Miembro del Consejo del Centro Europeo de Endocrinología Reproductiva. " %}</li>
                                            <li>{% trans "Premio Unto Uotila (premio investigador joven otorgado por la Sociedad Finlandesa de Endocrinología)." %}</li>
                                            <li>{% trans "Hizo su formación postdoctoral extranjera en los Estados Unidos (Harvard Reproductive Endocrine Sciences Center, MA)." %}</li>
                                            <li>{% trans "Editor en la revista europea de endocrinología." %}</li>
                                            <li>{% trans "Área de investigación: Genética molecular del hipogonadismo hipogonadotrópico congénito (CHH), retraso constitucional del crecimiento y retraso puberal, estudios en células madres embrionarias pluripotenciales. " %}</li>
                                        </ul>
																		</div>
																		<div class="col-xs-12 expositor-hr"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 expositor-image"><img src="{% static 'images/expositores/expositor_9.jpg' %}" class="img img-responsive" alt></div>
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h4 class="name-expositor">Romina Grinspon</h4>
                                        <ul>
                                            <li>{% trans "Pediatra y Endocrinóloga infantil." %}</li>
                                            <li>{% trans "Se formó como pediatra y endocrinóloga en el Hospital de Niños Ricardo Gutiérrez en Buenos Aires, Argentina." %}</li>
                                            <li>{% trans "Investigadora adjunta de Conicet en el área de la fisiología y patología gonadal en la infancia en el Centro de Investigaciones Endocrinológicas Dr. César Bergadá y la División de Endocrinología del Hospital de Niños Ricardo Gutiérrez en Buenos Aires, Argentina." %}</li>
                                            <li>{% trans "Investiga patologías frecuentes en pediatría que afectan el eje hipotálamo-hipófiso-gonadal, con especial atención en la utilización del dosaje de Hormona Anti-mulleriana para el estudio del hipogonadismo infantil." %}</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 expositor-hr"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 expositor-image"><img src="{% static 'images/expositores/expositor_10.jpg' %}" class="img img-responsive" alt></div>
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h4 class="name-expositor">Alexia Peña, MD, FRACP, PhD</h4>
                                        <ul>
                                            <li>{% trans "Académica Clínica y Profesora Titular, Universidad de Adelaida, Adelaide, Australia del Sur." %}</li>
                                            <li>{% trans "Staff Especialista, Centro de Diabetes y Endocrinología, y líder de la Clínica de Endocrino y Ginecología del Adolescente, Hospital de la Mujer y Niños, Adelaide." %}</li>
                                            <li>{% trans "Ex secretaria del Grupo Endocrino Pediátrico Australaliano (APEG) y la Sociedad de Obesidad de Australia y Nueva Zelanda (ANZOS)." %}</li>
                                            <li>{% trans "Investigadora del Centro de Síndrome de Ovario Poliquístico (PCOS) para la Excelencia en Investigación del Consejo Nacional de Salud e Investigación Médica de Australia (NHMRC)." %}</li>
                                            <li>{% trans "Miembro del grupo internacional de desarrollo de directrices basado en la evidencia del PCOS que se lanzará en julio de 2018." %}</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 expositor-hr"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 expositor-image"><img src="{% static 'images/expositores/expositor_11.jpeg' %}" class="img img-responsive" alt></div>
                                            <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3">&nbsp;</div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <h4 class="name-expositor">Tania A S S Bachega</h4>
                                        <ul>
                                            
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 expositor-hr"></div>
                                </div>
                            </div> <!-- end of plan -->
    
    
                        </div> <!-- end of event-planner-slider -->
                        <!-- <div class="leyend">
                            <p>{% trans "Sugerencia" %}</p>
                            {% blocktrans %}Conferencias y Simposio: invitaciones para ESPE, SEEP y APPES<br>Simposio: un orador de otras Sociedades y uno de SLEP{% endblocktrans %}
                        </div> -->
                    </div> <!-- end of col -->
                </div> <!-- end of content -->
            </div> <!-- end of container -->
    </section>
    <!-- end of event-planner -->
    {% endblock %}

</body>

</html>
