{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div id="abstracts">
    <section class="pricing-table section-padding" id="abstract-inscription-section">
        <div class="container">
            <div class="deadline row">
                <div class="col col-md-10 col-md-offset-1">
                    <h2>{% trans "Envío de Abstract" %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form id="register-abstract-form">
                        <div class="row" style="margin-top:30px; margin-bottom:40px; text-align: justify;">
                            <h5 style="margin-bottom: 30px;">{% trans "Utilice el siguiente formulario para hacer una nueva presentación." %}</h5>
                            <h5 style="margin-bottom: 30px;">{% trans "Bienvenido al formulario de abstract de la 27ª Reunión Anual de la Sociedad Latinoamericana de Endocrinología Pediátrica 2018, por favor responda todas las preguntas que aparecen a continuación:" %}</h5>
                            <h5><span style="color:red">*</span> - {% trans "Indica que el campo es obligatorio" %}</h5>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Título" %} <span style="color:red">*</span></label>
                            <p text-align="justify">{% trans "Ingrese el TÍTULO COMPLETO de su envío. Esto se usará para imprimir en el programa final." %}</p>
                            <input :class="{'form-control': true, 'error':errorsVee.has('title-abstract')}" data-vv-as='{% trans "Título" %}' v-validate="'required'" data-vv-value-path="value" name="title-abstract" data-vv-name="title-abstract" v-model="abstract.title" placeholder="Ingresa el título" :readonly="readOnly">
                            <input style="text-align: right; width:100%; cursor:default" :value="titleWords" readonly>
                            <span v-show="errorsVee.has('title-abstract')" class="error-info">${errorsVee.first('title-abstract')}</span>
                            <br>
                            <span style="font-weight:700"> {% trans "Límite de palabras" %}: 50 </span>
                            <span class="error-info" v-if="titleError">El Título excede el máximo de palabras.</span>
                        </div>
                        <div class="form-group authors">
                            <label>{% trans "Afiliaciones" %} <span style="color:red">*</span></label>
                            <p style="text-align:justify">{% trans "DEBE ingresar aquí los nombres de TODOS los autores, incluido usted mismo si es un autor, en el orden en que desea que aparezcan en el texto impreso. Los nombres omitidos aquí NO se imprimirán en el índice de autor o en el programa final" %}</p>
                            <div class="row" v-for="authorAbstract, index in abstract.authors" style="padding: 20px 30px">
                                <div class="row">
                                    <h5>{% trans "Autor" %} ${index + 1}</h5>
                                    <button class="btn btn-danger" type="button" style="float: right;" @click="deleteAuthor(index)" :disabled="abstract.authors.length == 1" v-show="!readOnly">{% trans "Quitar Autor" %}</button>
                                </div>
                                <div class="row" style="margin-top:15px">
                                    <div class="col-md-4">
                                        <p>{% trans "Nombres" %} <span style="color:red">*</span></p>
                                        <input :class="{'form-control': true, 'error': errorsVee.has('name_author_'+index)}" data-vv-as='{% trans "Nombres" %}' v-validate="'required'" data-vv-value-path="value" :data-vv-name="'name_author_'+index" :name="'name_author_'+index" placeholder='{% trans "Nombres" %}' v-model="authorAbstract.name" :readOnly="readOnly">
                                        <span v-show="errorsVee.has('name_author_'+index)" class="error-info">${errorsVee.first('name_author_'+index)}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <p>{% trans "Apellidos" %} <span style="color:red">*</span></p>
                                        <input :class="{'form-control': true, 'error': errorsVee.has('lastname_author_'+index)}" v-validate="'required'" data-vv-as='{% trans "Apellidos" %}' data-vv-value-path="value" :data-vv-name="'lastname_author_'+index" placeholder='{% trans "Apellidos" %}' v-model="authorAbstract.lastName" :readOnly="readOnly">
                                        <span v-show="errorsVee.has('lastname_author_'+index)" class="error-info">${errorsVee.first('lastname_author_'+index)}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <p style="margin-top:33px;">
                                        <input type="checkbox" v-model="authorAbstract.presentation" :disabled="readOnly"> {% trans "Presentación" %}
                                        </p>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px;">
                                    <h4 style="display:inline-block" v-show="authorAbstract.affiliations.length != 0">{% trans "Autor" %} ${index + 1} - {% trans "Afiliaciones" %}</h5>
                                    <div class="col-md-12" style="margin-top:20px;" v-for="affiliation, indexAffiliation in authorAbstract.affiliations">
                                        <div class="col-md-12">
                                            <h4 style="display:inline-block">{% trans "Afiliación" %} ${indexAffiliation + 1}</h5>
                                            <button class="btn btn-danger" type="button" style="float: right;" @click="deleteAffiliation(index, indexAffiliation)" v-show="!readOnly">{% trans "Quitar Afiliación" %}</button>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>{% trans "Institución" %} <span style="color:red">*</span></p>
                                                <input :class="{'form-control': true, 'error': errorsVee.has('institution_author_'+index+'_affiliation_'+indexAffiliation)}" v-validate="'required'" data-vv-as='{% trans "Institución" %}' data-vv-value-path="value" :data-vv-name="'institution_author_'+index+'_affiliation_'+indexAffiliation" placeholder='{% trans "Institución" %}' v-model="affiliation.institution" :readOnly="readOnly">
                                                <span v-show="errorsVee.has('institution_author_'+index+'_affiliation_'+indexAffiliation)" class="error-info">${errorsVee.first('institution_author_'+index+'_affiliation_'+indexAffiliation)}</span>
                                            </div>
                                            <div class="col-md-4">
                                                <p>{% trans "Ciudad" %} <span style="color:red">*</span></p>
                                                <input :class="{'form-control': true, 'error': errorsVee.has('city_author_'+index+'affiliation_'+indexAffiliation)}" v-validate="'required'" data-vv-as='{% trans "Ciudad" %}' data-vv-value-path="value" :data-vv-name="'city_author_'+index+'affiliation_'+indexAffiliation" placeholder='{% trans "Ciudad" %}' v-model="affiliation.city" :readOnly="readOnly">
                                                <span v-show="errorsVee.has('city_author_'+index+'affiliation_'+indexAffiliation)" class="error-info">${errorsVee.first('city_author_'+index+'affiliation_'+indexAffiliation)}</span>
                                            </div>
                                            <div class="col-md-4">
                                                <p>{% trans "País" %} <span style="color:red">*</span></p>
                                                <select :class="{'form-control': true, 'error': errorsVee.has('country_author_'+index+'affiliation_'+indexAffiliation)}" v-validate="'required'" data-vv-as='{% trans "País" %}' data-vv-value-path="value" :data-vv-name="'country_author_'+index+'affiliation_'+indexAffiliation" v-model="affiliation.country" :disabled="readOnly">
                                                    <option selected value="">{% trans "--Selecciona tu país--" %}</option>
                                                    <option v-for= "country in countries" :key="country.id" :value="country.id" :label="country.name">${country.name}</option>
                                                </select>
                                                <span v-show="errorsVee.has('country_author_'+index+'affiliation_'+indexAffiliation)" class="error-info">${errorsVee.first('country_author_'+index+'affiliation_'+indexAffiliation)}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-success" type="button" style="margin: 15px 0 0 28px" @click="addAffiliation(index)" v-show="!readOnly">{% trans "Agregar Afiliación" %}</button>
                                    </div>
                                </div>
                            </div>
                            <hr class="rule-horizontal">
                            <div class="row">
                                <button class="btn btn-success" type="button" style="margin-left: 25px;" @click="addAuthor" v-show="!readOnly">{% trans "Agregar Autor" %}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Abstract <span style="color:red">*</span></label>
                            <p style="text-align: justify">{% trans "Por favor ingrese un resumen de su trabajo (máximo 400 palabras)." %}</p>
                            <!-- <quill-editor :class="{'wysiwyg': true, 'wysiwyg-abstract': true, 'error':errorsVee.has('abstract')}" :options="quillOptions" data-vv-as="Abstract" v-validate="'required'" data-vv-value-path="value" name="abstract" data-vv-name="abstract" v-model="abstract.info">
                            </quill-editor> -->
                            <vue-ckeditor v-model="abstract.info" :config="config"></vue-ckeditor>
                            <input style="text-align: right; width:100%; cursor:default" :value="abstractWords" readonly>
                            <span v-show="errorsVee.has('abstract')" class="error-info">${errorsVee.first('abstract')}</span>
                            <br>
                            <span style="font-weight:700"> {% trans "Límite de palabras: 400" %}</span>
                            <span class="error-info" v-if="abstractError">El Abstract excede el máximo de palabras.</span>
                        </div>
                        <div class="form-group">
                            <p class="notice-checkbox">{% trans "Al marcar cada casilla para cada declaración a continuación, acepto los términos del resumen de SLEP 2018:" %}</p>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Aprobación del Autor" %} <span style="color:red">*</span></label>
                            <p style="margin-top:20px;">
                                <input type="checkbox" :class="{'error':errorsVee.has('approval')}" data-vv-as='{% trans "Aprobación del Autor" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="approval" v-model="abstract.approval" :disabled="readOnly"> {% trans "Confirmo que esta presentación ha sido aprobada por todos los autores, que asumen la plena responsabilidad del contenido del resumen y que al menos un autor se registrará por completo para asistir y presentar este documento en la Reunión SLEP 2018." %}
                            </p>
                            <span v-show="errorsVee.has('approval')" class="error-info">${errorsVee.first('approval')}</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Declaración de Helsinki" %}</label>
                            <p style="margin-top:20px;">
                                <input type="checkbox" v-model="abstract.helsinki" :disabled="readOnly"> {% trans "Confirmo que si este envío contiene datos de pacientes, la investigación cumple con la Declaración de Helsinki (<a href='http://www.wma.net/en/30publications/10policies/b3/index.html' target='blank'>http://www.wma.net/en/30publications/10policies/b3/index.html</a>) y que los sujetos hayan dado su información, escrita consentimiento." %}
                            </p>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Bienestar de los animales" %} <span style="color:red">*</span></label>
                            <p style="margin-top:20px;">
                                <input type="checkbox" :class="{'error':errorsVee.has('animal')}" data-vv-as='{% trans "Bienestar de los animales" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="animal" v-model="abstract.animal" :disabled="readOnly"> {% trans "Confirmo que si este resumen contiene investigación que involucra experimentación con animales, se han cumplido las directrices de la Federación de Universidades para el Bienestar Animal (<a href='http://www.ufaw.org.uk/public-list.php#pl05' target='blank'>http://www.ufaw.org.uk/public-list.php#pl05</a>)." %}
                            </p>
                            <span v-show="errorsVee.has('animal')" class="error-info">${errorsVee.first('animal')}</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Privacidad del paciente" %} <span style="color:red">*</span></label>
                            <p style="margin-top:20px;">
                                <input type="checkbox" :class="{'error':errorsVee.has('pacient')}" data-vv-as='{% trans "Privacidad del paciente" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="pacient" v-model="abstract.pacient" :disabled="readOnly"> {% trans "Confirmo que este resumen no incluye ninguna información que pueda identificar a un paciente, a menos que sea esencial para fines científicos y el paciente (o padre / tutor) haya dado su consentimiento informado por escrito para su publicación. Se debe obtener el consentimiento por escrito si existe alguna duda de que no se puede mantener el anonimato." %}
                            </p>
                            <span v-show="errorsVee.has('pacient')" class="error-info">${errorsVee.first('pacient')}</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Difamatorio o ilegal" %} <span style="color:red">*</span></label>
                            <p style="margin-top:20px;">
                                <input type="checkbox" :class="{'error':errorsVee.has('ilegal')}" data-vv-as='{% trans "Difamatorio o ilegal" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="ilegal" v-model="abstract.ilegal" :disabled="readOnly"> {% trans "Confirmo que el resumen no contiene, según mi leal saber y entender, contenido difamatorio, ilegal o que infrinja los derechos de autor u otros derechos de cualquier persona." %}
                            </p>
                            <span v-show="errorsVee.has('ilegal')" class="error-info">${errorsVee.first('ilegal')}</span>
                        </div>
                        <div class="form-group">
                            <p class="notice-checkbox">{% trans "Todos los resúmenes aceptados se publicarán en <i>Hormone Research en Pediatría</i> en línea y en versión impresa. Al enviar su resumen, confirma que está de acuerdo con lo siguiente:" %}</p>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Publicación previa" %} <span style="color:red">*</span></label>
                            <p style="margin-top:20px;">
                                <input type="checkbox" :class="{'error':errorsVee.has('previousPublication')}" data-vv-as='{% trans "Publicación previa" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="previousPublication" v-model="abstract.previousPublication" :disabled="readOnly"> {% trans "Confirmo que la investigación no está publicada o en prensa en el momento de la presentación en cualquier idioma, en todo o en parte." %}
                            </p>
                            <span v-show="errorsVee.has('previousPublication')" class="error-info">${errorsVee.first('previousPublication')}</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Presentación anterior" %} <span style="color:red">*</span></label>
                            <p style="margin-top:20px;">
                                <input type="checkbox" :class="{'error':errorsVee.has('previousSubmission')}" data-vv-as='{% trans "Presentación anterior" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="previousSubmission" v-model="abstract.previousSubmission" :disabled="readOnly"> {% trans "Si esta investigación se ha presentado simultáneamente a cualquier otra reunión, revista o publicación principal, se espera que se incluyan datos adicionales en el resumen de SLEP 2018." %}
                            </p>
                            <span v-show="errorsVee.has('previousSubmission')" class="error-info">${errorsVee.first('previousSubmission')}</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Derechos de autor" %} <span style="color:red">*</span></label>
                            <p style="margin-top:20px;">
                                <input type="checkbox" :class="{'error':errorsVee.has('copyright')}" data-vv-as='{% trans "Derechos de autor" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="copyright" v-model="abstract.copyright" :disabled="readOnly"> {% trans "Que está asignando derechos de autor en abstracto a SLEP, que luego otorgará permiso a Karger, otorgando de este modo a Karger el derecho de publicar en el Hormone Research in Pediatrics Journal." %}
                            </p>
                            <span v-show="errorsVee.has('copyright')" class="error-info">${errorsVee.first('copyright')}</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Derechos de autor cancelados" %} <span style="color:red">*</span></label>
                            <p style="margin-top:20px;">
                                <input type="checkbox" :class="{'error':errorsVee.has('copyrightCanceled')}" data-vv-as='{% trans "Derechos de autor cancelados" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="copyrightCanceled" v-model="abstract.copyrightCanceled" :disabled="readOnly"> {% trans "Si el resumen es rechazado o retirado antes de la publicación, esta transferencia de derechos de autor se cancela y todos los derechos se revierten a usted." %}
                            </p>
                            <span v-show="errorsVee.has('copyrightCanceled')" class="error-info">${errorsVee.first('copyrightCanceled')}</span>
                        </div>
                        <div class="form-group">
                            <p class="notice-checkbox">{% trans "Además, al enviar su resumen, usted reconoce que:" %}</p>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Directrices del autor" %} <span style="color:red">*</span></label>
                            <p style="margin-top:20px;">
                                <input type="checkbox" :class="{'error':errorsVee.has('guidelines')}" data-vv-as='{% trans "Directrices del autor" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="guidelines" v-model="abstract.guidelines" :disabled="readOnly"> {% trans "Es responsabilidad del autor remitente asegurarse de que todas las comunicaciones (escritas y orales) cumplan con estas pautas. Ni el comité organizador SLEP 2018 ni el comité científico serán responsables por cualquier desviación o incumplimiento de estas pautas; sin embargo el comité científico se reserva el derecho de retirar una presentación si, después de una consulta adecuada, se considera que se ha producido una desviación o una infracción." %}
                            </p>
                            <span v-show="errorsVee.has('guidelines')" class="error-info">${errorsVee.first('guidelines')}</span>
                        </div>
                        <div class="form-group">
                            <p class="notice-checkbox">{% trans "Declaración de interés: por favor (a) declare completamente cualquier conflicto financiero o de otro tipo potencial; o (b) declare que no existe conflicto de intereses que pueda percibirse como perjudicial para la imparcialidad de la investigación informada:" %}</p>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Conflicto de intereses" %} <span style="color:red">*</span></label>
                            <p style="text-align: justify">{% trans "Declaro que no hay conflicto de intereses que pueda percibirse como perjudicial para la imparcialidad del proyecto de investigación." %}</p>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.conflict" :value="true" :disabled="readOnly">&nbsp;&nbsp;{% trans "SI" %}
                            </label>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.conflict" :value="false" :disabled="readOnly">&nbsp;&nbsp;{% trans "NO" %}
                            </label>
                        </div>
                        <div class="form-group" v-if="abstract.conflict">
                            <label>{% trans "Detalle del conflicto de intereses" %}</label>
                            <p style="text-align: justify">{% trans "Declaro completamente un conflicto de intereses. Detalles a continuación: (máximo 50 palabras)." %}</p>
                            <textarea :class="{'form-control': true, 'error':errorsVee.has('conflict-reason')}" rows="2" data-vv-as='{% trans "Detalle del conflicto de intereses" %}' v-validate="'required'" data-vv-value-path="value" name="abstract" data-vv-name="conflict-reason" v-model="abstract.conflictReason" placeholder="Ingresa el detalle" :readOnly="readOnly"></textarea>
                            <input style="text-align: right; width:100%; cursor:default" :value="conflictReasonWords" readonly>
                            <span v-show="errorsVee.has('conflict-reason')" class="error-info">${errorsVee.first('conflict-reason')}</span>
                            <br>
                            <span style="font-weight:700"> {% trans "Límite de palabras: 50" %}</span>
                            <span class="error-info" v-if="conflictError">El Abstract excede el máximo de palabras.</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Financiamiento" %} <span style="color:red">*</span></label>
                            <p style="text-align: justify">{% trans "¿Recibió esta investigación alguna subvención específica de alguna agencia de financiamiento en el sector público, comercial o sin fines de lucro?" %}</p>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.funding" :value="true" :disabled="readOnly">&nbsp;&nbsp;{% trans "SI" %}
                            </label>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.funding" :value="false" :disabled="readOnly">&nbsp;&nbsp;{% trans "NO" %}
                            </label>
                        </div>
                        <div class="form-group" v-if="abstract.funding">
                            <label>{% trans "Detalle del Financiamiento" %}</label>
                            <p style="text-align: justify">{% trans "Este trabajo fue apoyado. Los detalles se incluyen a continuación en el formato: Este trabajo fue respaldado por XYZ Research Council (números de concesión xxxx, yyyy) XYZ Trust (números de concesión xxxx, yyyy) y XYZ Charity (números de concesión xxxx, yyyy)." %}</p>
                            <textarea :class="{'form-control': true, 'error':errorsVee.has('funding-reason')}" rows="2" data-vv-as='{% trans "Detalle del Financiamiento" %}' v-validate="'required'" data-vv-value-path="value" name="abstract" data-vv-name="funding-reason" v-model="abstract.fundingReason" placeholder="Ingresa el detalle" :readOnly="readOnly"></textarea>
                            <input style="text-align: right; width:100%; cursor:default" :value="fundingReasonWords" readonly>
                            <span v-show="errorsVee.has('funding-reason')" class="error-info">${errorsVee.first('funding-reason')}</span>
                            <br>
                            <span style="font-weight:700"> {% trans "Límite de palabras: 50" %}</span>
                            <span class="error-info" v-if="fundingError">El Abstract excede el máximo de palabras.</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Categorías" %} <span style="color:red">*</span></label>
                            <p style="text-align: justify;">{% trans "Elija una categoría de tema que mejor describa su presentación" %}</p>
                            <select class="form-control" :class="{'error':errorsVee.has('category')}" data-vv-as='{% trans "Categorías" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="category"  v-model="abstract.category" :disabled="readOnly">
                                <option selected value=''>{% trans "--Seleccione una categoría--" %}</option>
                                <option v-for="category in categories" :key="category.id" :value="category.id" :label="category.name">${category.name}</option>
                            </select>
                            <span v-show="errorsVee.has('category')" class="error-info">${errorsVee.first('category')}</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Tipo de abstract" %} <span style="color:red">*</span></label>
                            <p style="text-align: justify; font-weight: bold">{% trans "Categorización del tema" %}</p>
                            <p style="text-align: justify;">{% trans "Seleccione la categoría que mejor describa el enfoque de su investigación" %}</p>
                            <select class="form-control" :class="{'error':errorsVee.has('type')}" data-vv-as='{% trans "Tipo de abstract" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="type" v-model="abstract.type" :disabled="readOnly">
                                <option selected value=''>{% trans "--Seleccione un tipo--" %}</option>
                                <option v-for="type in types" :key="type.id" :value="type.id" :label="type.name">${type.name}</option>
                            </select>
                            <span v-show="errorsVee.has('type')" class="error-info">${errorsVee.first('type')}</span>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Caso clínico" %} <span style="color:red">*</span></label>
                            <p style="text-align: justify">{% trans "¿Estás enviando un caso clínico?" %}</p>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.clinicalCase" :value="true" :disabled="readOnly">&nbsp;&nbsp;{% trans "SI" %}
                            </label>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.clinicalCase" :value="false" :disabled="readOnly">&nbsp;&nbsp;{% trans "NO"  %}
                            </label>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Presentación de Abstract" %}</label>
                            <p style="text-align: justify">{% trans "Si su resumen es aceptado en SLEP 2018, elija su medio de presentación preferido:" %}</p>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.presentation" value="Oral" :disabled="readOnly">&nbsp;&nbsp;{% trans "Oral" %}
                            </label>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.presentation" value="Póster" :disabled="readOnly">&nbsp;&nbsp;{% trans "Póster" %}
                            </label>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.presentation" value="Ambos" :disabled="readOnly">&nbsp;&nbsp;{% trans "Ambos" %}
                            </label>
                        </div>
                        <!-- <div class="form-group">
                            <label>{% trans "Presentar el estado del autor" %} <span style="color:red">*</span></label>
                            <p style="text-align: justify;">{% trans "Por favor confirme el estado actual de los autores presentadores. Si la posición de los autores presentadores cambiará antes de la reunión, seleccione los criterios que se aplican al autor presentador en el momento de la presentación." %}</p>
                            <select class="form-control" :class="{'error':errorsVee.has('stateAuthor')}" data-vv-as='{% trans "Presentar el estado del autor" %}' v-validate="'required'" data-vv-value-path="value" data-vv-name="stateAuthor" v-model="abstract.stateAuthor" :disabled="readOnly">
                                <option selected value=''>{% trans "Seleccione un estado" %}</option>
                                <option v-for="state in states" :key="state.id" :value="state.id" :label="state.name"></option>
                            </select>
                            <span v-show="errorsVee.has('stateAuthor')" class="error-info">${errorsVee.first('stateAuthor')}</span>
                        </div> -->
                        <!-- <div class="form-group">
                            <label>{% trans "Presentando al Autor D.O.B" %}</label>
                            <p style="text-align: justify;">{% trans "Fecha de nacimiento del autor que presenta SOLO - (AAAA-MM-DD)" %}</p>
                            <input class="form-control" v-model="abstract.birthAuthor" :readOnly="readOnly">
                        </div> -->
                        <!-- <div class="form-group">
                            <label>{% trans "Beca de viaje: elegibilidad" %}</label>
                            <ul>
                                <li>{% trans "Solo el autor presentador de un resumen es elegible para postularse." %}</li>
                                <li>{% trans "Los médicos / profesionales de la salud aliados deben estar en un puesto de capacitación y los científicos deben estar en una publicación debajo de una posición de PI." %}</li>
                            </ul>
                        </div> -->
                        <!-- <div class="form-group">
                            <label>{% trans "Beca de viaje - ESPE Summer School" %}</label>
                            <p>{% trans "Soy un solicitante de la ESPE Summer School:" %}</p>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.grant" :value="true" :disabled="readOnly">&nbsp;&nbsp;{% trans "SI" %}
                            </label>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.grant" :value="false" :disabled="readOnly">&nbsp;&nbsp;{% trans "NO" %}
                            </label>
                        </div> -->
                        <!-- <div class="form-group">
                            <label>{% trans "Beca de viaje: Cómo solicitarla" %}</label>
                            <ul>
                                <li>{% trans "Las solicitudes solo se pueden realizar en el formulario de envío de resúmenes en el sitio web de la reunión ESPE al momento de la presentación de un resumen. Estará disponible desde el 10 de noviembre de 2017." %}</li>
                                <li>{% trans "La fecha límite para las solicitudes es la misma que para las presentaciones de resúmenes: 16 de abril de 2018." %}</li>
                                <li>{% trans "Se le notificará su aceptación / rechazo en junio de 2018." %}</li>
                                <li>{% trans "Debe indicar si es miembro de ESPE o no (no necesita ser miembro para solicitar una beca de viaje)." %}</li>
                                <li> {% trans "Las becas de viaje son personales y NO transferibles a otro autor en el resumen." %}</li>
                                <li>{% trans "Una beca de viaje NO le da derecho al solicitante a la inscripción gratuita." %}</li>
                            </ul>
                        </div> -->
                        <!-- <div class="form-group">
                            <label>{% trans "Becas de viaje" %} <span style="color:red">*</span></label>
                            <p>{% trans "¿Desea que su resumen sea considerado para una beca de viaje ESPE?" %}</p>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.grantEspe" :value="true" :disabled="readOnly">&nbsp;&nbsp;{% trans "SI" %}
                            </label>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.grantEspe" :value="false" :disabled="readOnly">&nbsp;&nbsp;{% trans "NO" %}
                            </label>
                        </div> -->
                        <!-- <div class="form-group">
                            <label>{% trans "Beca de viaje - Miembro ESPE" %}</label>
                            <p>{% trans "Soy un miembro de ESPE" %}</p>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.member" :value="true" :disabled="readOnly">&nbsp;&nbsp;{% trans "SI" %}
                            </label>
                            <label style="margin-top:20px;" class="radio-conflict">
                                <input type="radio" v-model="abstract.member" :value="false" :disabled="readOnly">&nbsp;&nbsp;{% trans "NO" %}
                            </label>
                        </div> -->
                        <div class="form-group">
                            <ul>
                                <li class="notice-thanks">{% trans "Gracias por enviar su resumen a SLEP 2018." %}</li>
                                <li class="notice-thanks">{% trans "De inmediato usted recibirá un correo de que su envío ha sido exitoso." %}</li>
                                <li class="notice-thanks">{% trans "El comité científico le notificará si su resumen ha sido aceptado oportunamente." %}</li>
                                <li class="notice-thanks">{% trans "Los retiros deben realizarse antes del 1 de julio. Después de esta fecha, no podrá retirar su resumen de la publicación." %}</li>
                            </ul>
                        </div>
                        <div class="form-group" style="text-align:center;" v-show="!readOnly">
                            <button v-show="!loadingAbstract" class="btn btn-success" type="button"  style="width:100%" @click="saveAbstract" >{% trans "ENVIAR" %}</button>
                            <pulse-loader :loading="loadingAbstract" :color="'green'"></pulse-loader>
                        </div>
                        <div class="form-group"  v-show="readOnly">
                            <button class="btn btn-link" type="button" @click="backAbstractList"><i class="fas fa-arrow-circle-left" ></i> {% trans "Regresar" %}</button>    
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
                
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block extrafooter %}
    <script>
        var currentAbstract = {% autoescape off %}{{current}}{% endautoescape off %}
    </script>
    <script src="{% static 'js/abstracts.js' %}"></script>
    
{% endblock %}