{% extends "base.html" %}
{% load static %}
{% load i18n %}

    {% block content %}
      <!-- pricing-table -->
      <div id="abstracts">
        <section class="pricing-table section-padding" id="abstract-inscription-section">

            <div class="container">
                <div class="deadline row">
                    <div class="col col-md-10 col-md-offset-1">
                        <h2>{% trans "Registro" %}</h2>
                        <!-- <p>{% trans "Próximamente se habilitará la inscripción de Abstracts" %}</p>
                        <h3>{% trans "Desde el 01 de Abril al 20 de Mayo" %}</h3> -->
                     </div>
                </div> <!-- end of section-title -->
                <div class="col-md-6 col-md-offset-3">
                  <form id="register-form">
                    <div class="form-group">
                      <label>{% trans "Dirección de correo" %}</label>
                      <input :class="{'error':errorsVee.has('email-register')}" data-vv-as="{% trans 'Correo' %}" v-validate="'required|email'" data-vv-value-path="value" data-vv-name="email-register" v-model="author.email" type="email" class="form-control" placeholder="{% trans 'Ingresa tu correo' %}">
                      <span v-show="errorsVee.has('email-register')" class="error-info">${errorsVee.first('email-register')}</span>
                    </div>
                    <div class="form-group">
                      <label>{% trans "Contraseña" %}</label>
                      <input :class="{'error':errorsVee.has('password-register')}" data-vv-as="{% trans 'Contraseña' %}" v-validate="'required'" data-vv-value-path="value" data-vv-name="password-register" v-model="author.password" type="password" class="form-control" placeholder="{% trans 'Ingresa tu contraseña' %}">
                      <span v-show="errorsVee.has('password-register')" class="error-info">${errorsVee.first('password-register')}</span>
                    </div>
                    <div class="form-group">
                      <label>{% trans "Nombres" %}</label>
                      <input :class="{'error':errorsVee.has('name')}" data-vv-as="{% trans 'Nombres' %}" v-validate="'required'" data-vv-value-path="value" data-vv-name="name" v-model="author.name" type="text" class="form-control" name="first_name" placeholder="{% trans 'Ingresa tus nombres' %}">
                      <span v-show="errorsVee.has('name')" class="error-info">${errorsVee.first('name')}</span>
                    </div>
                    <div class="form-group">
                      <label>{% trans "Apellidos" %}</label>
                      <input :class="{'error':errorsVee.has('last_name')}" data-vv-as="{% trans 'Apellidos' %}" v-validate="'required'" data-vv-value-path="value" data-vv-name="last_name" v-model="author.lastName" type="text" class="form-control" placeholder="{% trans 'Ingresa tus apellidos' %}">
                      <span v-show="errorsVee.has('last_name')" class="error-info">${errorsVee.first('last_name')}</span>
                    </div>
                    <div class="form-group" style="text-align:center;">
                      <input type="button" class="btn btn-success" @click="registerAuthor" value="{% trans 'Guardar' %}"></input>
                    </div>
                    <el-alert  v-if="registerSuccess" type="success" :closable="true" title="" show-icon>{% trans "Registrado correctamente; por favor verifique su correo." %}
                    </el-alert>
                    <el-alert  v-if="registerSuccess === false" type="error" :closable="false" title="" show-icon>{% trans "La dirección de correo ya existe." %}
                    </el-alert>
                    <pulse-loader :loading="loading" :color="'green'"></pulse-loader>
                  </form>
                </div>
            </div> <!-- end of container -->

        </section>
      </div>
        <!-- end of pricing-table -->


    {% endblock %}


{% block extrafooter %}
<!-- <script>

  // $('#login').click(function(){
  //   console.log("holaa")
  //   $.ajax({
  //         type:'POST',
  //         url:'/abstracts',
  //         cache:false,
  //         data: $("#login-form").serialize(),
  //         success: function(response){
  //           if(response.success == false){
  //             alert('EMAIL YA EXISTE')
  //           }
  //           else{
  //
  //           }
  //         }
  //       });
  // });
</script> -->
<script src="{% static 'js/abstracts.js' %}"></script>
{% endblock %}
