{% extends "base.html" %}
{% load static %}
{% load i18n %}

  {% block content %}
    <section class="summer" id="section-president">
        <div class="container-fluied">
              <div class="deadline row">
                  <div class="col col-md-10 col-md-offset-1">
                      <h2>{% trans "Summer School 2018" %}</h2>
                    </div>
              </div> <!-- end of section-title -->
            <div class="row">
                <div class="left-col col col-md-12 col-sm-12">
                    <div class="section-title">
                        <div class="summer-text-title text-center">{% blocktrans %}CONVOCATORIA DE BECAS SLEP SUMMER SCHOOL 2018{% endblocktrans %}</div>
                    </div> <!-- end of section-title -->
                </div>
                <div class="left-col col col-md-12 col-sm-12">
                    <div class="section-title">
                        <div class="summer-text-content text-justify">
                          {% blocktrans %}La Comisión de Educación Continua de la Sociedad Latinoamericana de Endocrinología Pediátrica (SLEP) tiene el placer de anunciar la convocatoria de becas para asistir al SLEP Summer School 2018. Esta actividad se realizará los días 21-23 de Octubre de 2018, previo a la XXVII Reunión Anual de la SLEP, en la ciudad de Lima, Perú. Se adjunta la documentación necesaria para postular a una de las 15 becas disponibles.{% endblocktrans %}
                        </div>
                    </div>
                </div>
                <div class="left-col col col-md-12 col-sm-12">
                    <div class="section-title">
                        <div class="summer-text-content text-justify">{% blocktrans %}<strong>IMPORTANTE:</strong> Los formularios de postulación deben ser enviados, sin excepción, a los tres miembros de la CEC: Dr. Sonir Antonini (antonini@fmrp.usp.br), Dra. Marta Ciaccio (martaciaccioar@yahoo.com.ar) Y Dra. Maria Virginia Perez (mavypf@gmail.com).{% endblocktrans %}
                        </div>
                    </div> <!-- end of section-title -->
                </div>
                <div class="left-col col colz-md-12 col-sm-12">
                    <div class="section-title">
                        <div class="summer-text-content text-justify">{% blocktrans %}<strong>FECHA LIMITE PARA POSTULAR: 15 de junio de 2018 (23:59 h, CLT)</strong>{% endblocktrans %}
                        </div>
                    </div> <!-- end of section-title -->
                </div>
                <div class="left-col col col-md-12 col-sm-12" style="margin-top:50px;">
                    <div class="section-title">
                        <div class="results-text-content text-center summer-buttons">
                            <a href="/static/summer/RESULTADOS_SUMMER_{{LANGUAGE_CODE}}.pdf" target="_blank">{% blocktrans %}RESULTADOS{% endblocktrans %}</a>
                        </div>
                    </div> <!-- end of section-title -->
                </div>
                <div class="left-col col col-md-12 col-sm-12" style="margin-top:50px;">
                    <div class="section-title">
                        <div class="summer-text-content text-center summer-buttons">
                          <a href="/static/summer/SLEP_Summer_School_2018_requisitos_para_postulacion_{{LANGUAGE_CODE}}.doc">{% blocktrans %}Descargar instrucciones{% endblocktrans %}</a>
                          <a href="/static/summer/APPLICATION_FORM_SLEP_Summer_School_2018.doc">{% blocktrans %}Descargar formulario{% endblocktrans %}</a>
                        </div>
                    </div> <!-- end of section-title -->
                </div>


            </div> <!-- end of row -->
        </div> <!-- end of container-fluied -->
        <br />
        <br />
    </section>


  {% endblock %}
