{% extends "base.html" %}
{% load static %}
{% load i18n %}

  {% block content %}
    <section class="who-we-are" id="venue">
        <div class="container-fluied">
              <div class="deadline row">
                  <div class="col col-md-10 col-md-offset-1">
                      <h2>Venue</h2>
                      <!-- <p>{% trans "Próximamente se habilitará la inscripción de Abstracts" %}</p>
                      <h3>{% trans "Desde el 01 de Abril al 20 de Mayo" %}</h3> -->
                    </div>
              </div> <!-- end of section-title -->
            <div class="row">
                <div class="left-col col col-md-6 col-sm-12">
                    <div class="section-title">
                        <p>{% blocktrans %}El evento se llevará a cabo en el Centro de Convenciones de la ciudad del Cusco. Cusco es el destino turístico más visitado del Perú donde podrás visitar una de las Siete Maravillas del Mundo, Machu Picchu.{% endblocktrans %}</p>
                        <br>
                        <p>{% blocktrans %}<strong>Dirección:</strong><br>Centro de convenciones Cusco<br> Palacio Municipal Plaza Cusipata s/n{% endblocktrans %}</p>
                        <google-map class="venue-map" :center="location" :zoom="16" style="width: 100%; height: 200px">
                          <googlemaps-marker
                              :label="{
                                color: '#ff7101',
                                fontFamily: 'Material Icons',
                                fontSize: '20px',
                                text: ' ',
                              }"
                              :position="location"
                            />
                          <googlemaps-infowindow 
                              :opened="true"
                              :options="{
                                  'content': 'Centro de Convenciones de la ciudad del Cusco'
                              }"
                              :position="location" />
                      </google-map>
                    </div> <!-- end of section-title -->
                    

                </div>
                <div class="right-col col col-md-6 col-sm-12">
                    <div class="section-firma">
                        <img width="80%" src="{% static 'images/venue/venue.jpg' %}" class="img img-responsive" alt>
                    </div>
                </div>

            </div> <!-- end of row -->
        </div> <!-- end of container-fluied -->
        <br />
        <br />
        <br />
        <br />
        <br />
    </section>


  {% endblock %}
{% block extrafooter %}
    <script src="{% static 'js/venue.js' %}"></script>
{% endblock %}