{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load i18n %}
{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h3 class="dashboard-welcome" style="font-size:25px; margin-left:calc(35% - 15px)">
	BIENVENIDO <font style="text-transform: uppercase;">{{request.user.username}}</font>
</h3>
{% if request.user.is_superuser %}
	<div style="margin-top: 25px; font-size: 15px; margin-left: 10px">
    Listo para realizar tus operaciones.
    </div>
{% endif %}

{% endblock %}


{% block sidebar %}
  
{% endblock %}