#id_registerpaymentinfo_set-0-price{
	background: none;
    border: none;
    -webkit-box-shadow: none !important;
}
.breadcrumb li:nth-child(2){
  display: none !important;
}
#confirmed-modal{
  width: 300px !important;
  left: 59% !important;
}

.form-search.nav-quick-search{
    display: none;
}
