    /*
    Flaticon icon font: Flaticon
    Creation date: 16/04/2016 13:33
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrow:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-book:before { content: "\f103"; }
.flaticon-book-1:before { content: "\f104"; }
.flaticon-book-2:before { content: "\f105"; }
.flaticon-calendar:before { content: "\f106"; }
.flaticon-check:before { content: "\f107"; }
.flaticon-clock:before { content: "\f108"; }
.flaticon-connection:before { content: "\f109"; }
.flaticon-connection-1:before { content: "\f10a"; }
.flaticon-gps:before { content: "\f10b"; }
.flaticon-interface:before { content: "\f10c"; }
.flaticon-interface-1:before { content: "\f10d"; }
.flaticon-library:before { content: "\f10e"; }
.flaticon-nature:before { content: "\f10f"; }
.flaticon-people:before { content: "\f110"; }
.flaticon-people-1:before { content: "\f111"; }
.flaticon-people-2:before { content: "\f112"; }
.flaticon-signs:before { content: "\f113"; }
.flaticon-signs-1:before { content: "\f114"; }
.flaticon-social:before { content: "\f115"; }
.flaticon-symbol:before { content: "\f116"; }
.flaticon-technology:before { content: "\f117"; }
.flaticon-time:before { content: "\f118"; }
.flaticon-tool:before { content: "\f119"; }
    
    $font-Flaticon-arrow: "\f100";
    $font-Flaticon-arrows: "\f101";
    $font-Flaticon-arrows-1: "\f102";
    $font-Flaticon-book: "\f103";
    $font-Flaticon-book-1: "\f104";
    $font-Flaticon-book-2: "\f105";
    $font-Flaticon-calendar: "\f106";
    $font-Flaticon-check: "\f107";
    $font-Flaticon-clock: "\f108";
    $font-Flaticon-connection: "\f109";
    $font-Flaticon-connection-1: "\f10a";
    $font-Flaticon-gps: "\f10b";
    $font-Flaticon-interface: "\f10c";
    $font-Flaticon-interface-1: "\f10d";
    $font-Flaticon-library: "\f10e";
    $font-Flaticon-nature: "\f10f";
    $font-Flaticon-people: "\f110";
    $font-Flaticon-people-1: "\f111";
    $font-Flaticon-people-2: "\f112";
    $font-Flaticon-signs: "\f113";
    $font-Flaticon-signs-1: "\f114";
    $font-Flaticon-social: "\f115";
    $font-Flaticon-symbol: "\f116";
    $font-Flaticon-technology: "\f117";
    $font-Flaticon-time: "\f118";
    $font-Flaticon-tool: "\f119";