	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/04/2016 13:33
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-arrow:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-book:before { content: "\f103"; }
.flaticon-book-1:before { content: "\f104"; }
.flaticon-book-2:before { content: "\f105"; }
.flaticon-calendar:before { content: "\f106"; }
.flaticon-check:before { content: "\f107"; }
.flaticon-clock:before { content: "\f108"; }
.flaticon-connection:before { content: "\f109"; }
.flaticon-connection-1:before { content: "\f10a"; }
.flaticon-gps:before { content: "\f10b"; }
.flaticon-interface:before { content: "\f10c"; }
.flaticon-interface-1:before { content: "\f10d"; }
.flaticon-library:before { content: "\f10e"; }
.flaticon-nature:before { content: "\f10f"; }
.flaticon-people:before { content: "\f110"; }
.flaticon-people-1:before { content: "\f111"; }
.flaticon-people-2:before { content: "\f112"; }
.flaticon-signs:before { content: "\f113"; }
.flaticon-signs-1:before { content: "\f114"; }
.flaticon-social:before { content: "\f115"; }
.flaticon-symbol:before { content: "\f116"; }
.flaticon-technology:before { content: "\f117"; }
.flaticon-time:before { content: "\f118"; }
.flaticon-tool:before { content: "\f119"; }